# Capstone Project :

# phase 4 (b) :

In [237]:
import  pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [238]:
df_5 = pd.read_csv('08_01_Juvenile_apprehended_state_IPC_2001_2010.csv')
df_6 = pd.read_csv('11_Property_stolen_and_recovered_nature_of_property_2001_2010.csv')
df_7 = pd.read_csv('13_Police_killed_or_injured_on_duty2001_2010.csv')
df_8 = pd.read_csv('17_Case_reported_and_value_of_property_taken_away_by_place_of_occurrence_2001_2012.csv')
df_9 = pd.read_csv('17_Crime_by_place_of_occurrence_2001_2012.csv')
df_10 = pd.read_csv('35_Human_rights_violation_by_police_2001_2010.csv')

# Juvenile_apprehended_state_IPC_2001_2010 :

In [239]:
df_5

,STATE/UT,Year,CRIME,Boys 7-12 Years,Girls 7-12 Years,Boys 12-16 Years,Girls 12-16 Years,Boys 16-18 Years,Girls 16-18 Years,Total for boys all Age Groups,Total for girls all Age Groups,Grand total
0,Andhra Pradesh,2001,Murder,3,0,7,0,5,0,15,0,15
1,Andhra Pradesh,2001,Attempt to Commit Murder,2,0,0,0,11,0,13,0,13
2,Andhra Pradesh,2001,C H Not amounting to Murder,0,0,0,0,0,0,0,0,0
3,Andhra Pradesh,2001,Rape,2,0,15,0,2,1,19,1,20
4,Andhra Pradesh,2001,Custodial Rape,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
10495,Puducherry,2010,Cruelty by Husband or Relatives,0,0,0,0,0,0,0,0,0
10496,Puducherry,2010,Importation of girls from Foreign Countr,0,0,0,0,0,0,0,0,0
10497,Puducherry,2010,Causing death by negligence,0,0,0,0,0,0,0,0,0
10498,Puducherry,2010,Other IPC Crimes,0,0,1,0,2,3,3,3,6
10499,Puducherry,2010,Total IPC Crimes,0,0,8,0,31,4,39,4,43

In [240]:
print(len(df_5['Year'].unique()))
df_5['Year'].value_counts()

10

2001    1050
2002    1050
2003    1050
2004    1050
2005    1050
2006    1050
2007    1050
2008    1050
2009    1050
2010    1050
Name: Year, dtype: int64

In [241]:
print(len(df_5['CRIME'].unique()))
df_5['CRIME'].value_counts()

30

Murder                                      350
Attempt to Commit Murder                    350
Other IPC Crimes                            350
Causing death by negligence                 350
Importation of girls from Foreign Countr    350
Cruelty by Husband or Relatives             350
Insult to Modesty of Women                  350
Assault on Women wih intent to outrage h    350
Dowry Deaths                                350
Hurt/Grevious Hurt                          350
Arson                                       350
Counterfeiting                              350
Cheating                                    350
Criminal Breach of Trust                    350
Riots                                       350
Other Theft                                 350
Auto Theft                                  350
Theft                                       350
Burglary                                    350
Robbery                                     350
Preparation & Assembly for Dacoity          350
Dacoity                                     350
K & A of others                             350
K & A of Women and Girls                    350
Kidnapping & Abduction                      350
Other Rape                                  350
Custodial Rape                              350
Rape                                        350
C H Not amounting to Murder                 350
Total IPC Crimes                            350
Name: CRIME, dtype: int64

In [242]:
df_5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10500 entries, 0 to 10499
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   STATE/UT                        10500 non-null  object
 1   Year                            10500 non-null  int64
 2   CRIME                           10500 non-null  object
 3   Boys 7-12 Years                 10500 non-null  int64
 4   Girls 7-12 Years                10500 non-null  int64
 5   Boys 12-16 Years                10500 non-null  int64
 6   Girls 12-16 Years               10500 non-null  int64
 7   Boys 16-18 Years                10500 non-null  int64
 8   Girls 16-18 Years               10500 non-null  int64
 9   Total for boys all Age Groups   10500 non-null  int64
 10  Total for girls all Age Groups  10500 non-null  int64
 11  Grand total                     10500 non-null  int64
dtypes: int64(10), object(2)
memory usage: 984.5+ KB

In [243]:
df_5.duplicated().sum()

0

In [244]:
df_5['CRIME'].unique()

array(['Murder', 'Attempt to Commit Murder',
       'C H Not amounting to Murder', 'Rape', 'Custodial Rape',
       'Other Rape', 'Kidnapping & Abduction', 'K & A of Women and Girls',
       'K & A of others', 'Dacoity', 'Preparation & Assembly for Dacoity',
       'Robbery', 'Burglary', 'Theft', 'Auto Theft', 'Other Theft',
       'Riots', 'Criminal Breach of Trust', 'Cheating', 'Counterfeiting',
       'Arson', 'Hurt/Grevious Hurt', 'Dowry Deaths',
       'Assault on Women wih intent to outrage h',
       'Insult to Modesty of Women', 'Cruelty by Husband or Relatives',
       'Importation of girls from Foreign Countr',
       'Causing death by negligence', 'Other IPC Crimes',
       'Total IPC Crimes'], dtype=object)

In [245]:
M_df_5 = df_5[~df_5['CRIME'].str.contains('Total IPC Crimes')]
M_df_5

,STATE/UT,Year,CRIME,Boys 7-12 Years,Girls 7-12 Years,Boys 12-16 Years,Girls 12-16 Years,Boys 16-18 Years,Girls 16-18 Years,Total for boys all Age Groups,Total for girls all Age Groups,Grand total
0,Andhra Pradesh,2001,Murder,3,0,7,0,5,0,15,0,15
1,Andhra Pradesh,2001,Attempt to Commit Murder,2,0,0,0,11,0,13,0,13
2,Andhra Pradesh,2001,C H Not amounting to Murder,0,0,0,0,0,0,0,0,0
3,Andhra Pradesh,2001,Rape,2,0,15,0,2,1,19,1,20
4,Andhra Pradesh,2001,Custodial Rape,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
10494,Puducherry,2010,Insult to Modesty of Women,0,0,0,0,0,0,0,0,0
10495,Puducherry,2010,Cruelty by Husband or Relatives,0,0,0,0,0,0,0,0,0
10496,Puducherry,2010,Importation of girls from Foreign Countr,0,0,0,0,0,0,0,0,0
10497,Puducherry,2010,Causing death by negligence,0,0,0,0,0,0,0,0,0
10498,Puducherry,2010,Other IPC Crimes,0,0,1,0,2,3,3,3,6

In [246]:
M_df_5['CRIME'].unique()

array(['Murder', 'Attempt to Commit Murder',
       'C H Not amounting to Murder', 'Rape', 'Custodial Rape',
       'Other Rape', 'Kidnapping & Abduction', 'K & A of Women and Girls',
       'K & A of others', 'Dacoity', 'Preparation & Assembly for Dacoity',
       'Robbery', 'Burglary', 'Theft', 'Auto Theft', 'Other Theft',
       'Riots', 'Criminal Breach of Trust', 'Cheating', 'Counterfeiting',
       'Arson', 'Hurt/Grevious Hurt', 'Dowry Deaths',
       'Assault on Women wih intent to outrage h',
       'Insult to Modesty of Women', 'Cruelty by Husband or Relatives',
       'Importation of girls from Foreign Countr',
       'Causing death by negligence', 'Other IPC Crimes'], dtype=object)

In [247]:
# I will select the most important facors from 'CRIME' .

In [248]:
exclude_patterns = (r'C H Not amounting to Murder', r'K & A of Women and Girls', 
                    r'K & A of others', r'Preparation & Assembly for Dacoity', r'Burglary', 
                    r'Theft', r'Auto Theft', r'Other Theft', r'Riots', r'Criminal Breach of Trust', 
                    r'Cheating', r'Counterfeiting', r'Dowry Deaths', r'Insult to Modesty of Women', 
                    r'Cruelty by Husband or Relatives', r'Causing death by negligence', r'Other IPC Crimes')

# Filter rows where CRIME does not contain any of the exclude_patterns
df_filtered = M_df_5[~M_df_5['CRIME'].str.contains('|'.join(exclude_patterns), case=False)]

In [249]:
df_filtered

,STATE/UT,Year,CRIME,Boys 7-12 Years,Girls 7-12 Years,Boys 12-16 Years,Girls 12-16 Years,Boys 16-18 Years,Girls 16-18 Years,Total for boys all Age Groups,Total for girls all Age Groups,Grand total
0,Andhra Pradesh,2001,Murder,3,0,7,0,5,0,15,0,15
1,Andhra Pradesh,2001,Attempt to Commit Murder,2,0,0,0,11,0,13,0,13
3,Andhra Pradesh,2001,Rape,2,0,15,0,2,1,19,1,20
4,Andhra Pradesh,2001,Custodial Rape,0,0,0,0,0,0,0,0,0
5,Andhra Pradesh,2001,Other Rape,2,0,15,0,2,1,19,1,20
...,...,...,...,...,...,...,...,...,...,...,...,...
10481,Puducherry,2010,Robbery,0,0,0,0,1,0,1,0,1
10490,Puducherry,2010,Arson,0,0,0,0,0,0,0,0,0
10491,Puducherry,2010,Hurt/Grevious Hurt,0,0,0,0,3,0,3,0,3
10493,Puducherry,2010,Assault on Women wih intent to outrage h,0,0,0,0,0,0,0,0,0
10496,Puducherry,2010,Importation of girls from Foreign Countr,0,0,0,0,0,0,0,0,0

In [250]:
df_filtered['CRIME'].unique()

array(['Murder', 'Attempt to Commit Murder', 'Rape', 'Custodial Rape',
       'Other Rape', 'Kidnapping & Abduction', 'Dacoity', 'Robbery',
       'Arson', 'Hurt/Grevious Hurt',
       'Assault on Women wih intent to outrage h',
       'Importation of girls from Foreign Countr'], dtype=object)

In [251]:
exclude_cols = ['STATE/UT', 'Year', 'CRIME']

# Select crime columns (all columns except those to exclude)
crime_cols = [col for col in df_filtered.columns if col not in exclude_cols]
crime_cols

['Boys 7-12 Years',
 'Girls 7-12 Years',
 'Boys 12-16 Years',
 'Girls 12-16 Years',
 'Boys 16-18 Years',
 'Girls 16-18 Years',
 'Total for boys all Age Groups',
 'Total for girls all Age Groups',
 'Grand total']

In [252]:
Juvenile_apprehended_crime_IPC = df_filtered.groupby('CRIME')[crime_cols].sum()
Juvenile_apprehended_crime_IPC

,Boys 7-12 Years,Girls 7-12 Years,Boys 12-16 Years,Girls 12-16 Years,Boys 16-18 Years,Girls 16-18 Years,Total for boys all Age Groups,Total for girls all Age Groups,Grand total
CRIME,,,,,,,,,
Arson,19,0,252,4,477,13,748,17,765
Assault on Women wih intent to outrage h,129,10,1871,21,3838,36,5838,67,5905
Attempt to Commit Murder,146,9,2020,98,3802,150,5968,257,6225
Custodial Rape,0,0,0,0,0,0,0,0,0
Dacoity,39,0,472,17,1198,30,1709,47,1756
Hurt/Grevious Hurt,1581,116,15053,1173,25144,1983,41778,3272,45050
Importation of girls from Foreign Countr,0,0,0,3,0,0,0,3,3
Kidnapping & Abduction,36,8,793,101,2160,197,2989,306,3295
Murder,201,10,2350,205,4306,285,6857,500,7357
Other Rape,147,2,2489,45,4357,89,6993,136,7129
Rape,147,2,2489,45,4357,89,6993,136,7129
Robbery,72,2,1348,26,2910,32,4330,60,4390

In [253]:
Juvenile_apprehended_state_IPC = df_filtered.groupby('STATE/UT')[crime_cols].sum()
Juvenile_apprehended_state_IPC

,Boys 7-12 Years,Girls 7-12 Years,Boys 12-16 Years,Girls 12-16 Years,Boys 16-18 Years,Girls 16-18 Years,Total for boys all Age Groups,Total for girls all Age Groups,Grand total
STATE/UT,,,,,,,,,
A&N Islands,0,0,10,1,25,3,35,4,39
Andhra Pradesh,144,4,1560,85,2975,148,4679,237,4916
Arunachal Pradesh,12,0,168,1,210,2,390,3,393
Assam,63,5,447,30,719,35,1229,70,1299
Bihar,10,0,427,11,1670,23,2107,34,2141
Chandigarh,7,0,109,4,95,1,211,5,216
Chhattisgarh,163,25,2855,149,2856,101,5874,275,6149
D&N Haveli,1,0,7,0,19,0,27,0,27
Daman & Diu,0,0,2,0,11,0,13,0,13
Delhi UT,47,2,977,22,1796,30,2820,54,2874
Goa,5,0,26,1,82,6,113,7,120
Gujarat,75,4,1671,169,3186,299,4932,472,5404
Haryana,17,1,1135,59,3055,244,4207,304,4511
Himachal Pradesh,11,0,141,12,287,25,439,37,476
Jammu & Kashmir,6,3,20,1,1,0,27,4,31
Jharkhand,231,0,810,115,1118,183,2159,298,2457
Karnataka,242,13,540,21,584,25,1366,59,1425
Kerala,7,1,282,13,778,149,1067,163,1230
Lakshadweep,0,0,0,0,0,0,0,0,0
Madhya Pradesh,860,53,7909,446,13490,544,22259,1043,23302
Maharashtra,375,37,6028,428,11639,607,18042,1072,19114
Manipur,0,0,0,0,0,0,0,0,0
Meghalaya,13,0,142,3,195,3,350,6,356
Mizoram,12,2,67,2,98,1,177,5,182
Nagaland,13,0,9,0,17,1,39,1,40
Odisha,48,0,574,16,641,23,1263,39,1302
Puducherry,0,0,31,0,80,3,111,3,114
Punjab,12,4,161,11,215,14,388,29,417
Rajasthan,95,3,1974,85,3570,328,5639,416,6055
Sikkim,0,0,13,0,84,10,97,10,107
Tamil Nadu,25,1,496,21,1348,59,1869,81,1950
Tripura,3,0,28,4,47,4,78,8,86
Uttar Pradesh,7,0,300,10,919,17,1226,27,1253
Uttarakhand,2,0,78,1,96,0,176,1,177
West Bengal,11,1,140,17,643,16,794,34,828

In [254]:
Juvenile_apprehended_state_IPC.shape

(35, 9)

In [255]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import  ColumnTransformer

In [256]:
ohe = OneHotEncoder()
preprocessor = ColumnTransformer(
transformers = [
    ('onehotencoder', ohe ,[0] )
],
remainder = 'passthrough'
)

In [257]:
kmeans = KMeans(n_clusters = 3 , init = 'k-means++',n_init = 100, max_iter = 300, random_state = 0)

x = preprocessor.fit_transform(Juvenile_apprehended_state_IPC)
y = kmeans.fit_predict(x)
y

array([0, 2, 0, 0, 0, 0, 2, 0, 0, 2, 0, 2, 2, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0])

In [258]:
len(y)

35

In [259]:
zero_indices = np.where(y==0)[0]
zero_indices

array([ 0,  2,  3,  4,  5,  7,  8, 10, 13, 14, 15, 16, 17, 18, 21, 22, 23,
       24, 25, 26, 27, 29, 30, 31, 32, 33, 34], dtype=int64)

In [260]:
Juvenile_apprehended_state_IPC.iloc[24]

Boys 7-12 Years                   13
Girls 7-12 Years                   0
Boys 12-16 Years                   9
Girls 12-16 Years                  0
Boys 16-18 Years                  17
Girls 16-18 Years                  1
Total for boys all Age Groups     39
Total for girls all Age Groups     1
Grand total                       40
Name: Nagaland, dtype: int64

In [261]:
one_indices = np.where(y==1)[0]
one_indices

array([19, 20], dtype=int64)

In [262]:
Juvenile_apprehended_state_IPC.iloc[20]

Boys 7-12 Years                     375
Girls 7-12 Years                     37
Boys 12-16 Years                   6028
Girls 12-16 Years                   428
Boys 16-18 Years                  11639
Girls 16-18 Years                   607
Total for boys all Age Groups     18042
Total for girls all Age Groups     1072
Grand total                       19114
Name: Maharashtra, dtype: int64

In [263]:
two_indices = np.where(y == 2)[0]
two_indices

array([ 1,  6,  9, 11, 12, 28], dtype=int64)

In [264]:
Juvenile_apprehended_state_IPC.iloc[9]

Boys 7-12 Years                     47
Girls 7-12 Years                     2
Boys 12-16 Years                   977
Girls 12-16 Years                   22
Boys 16-18 Years                  1796
Girls 16-18 Years                   30
Total for boys all Age Groups     2820
Total for girls all Age Groups      54
Grand total                       2874
Name: Delhi UT, dtype: int64

In [265]:
area_labels = {0: "Peaceful Area", 1: "Sensitive Area", 2: "Moderate Area"}

# Replace values in the array using the dictionary
data_replaced = np.vectorize(lambda x: area_labels.get(x))(y)

In [266]:
data_replaced

array(['Peaceful Area', 'Moderate Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Moderate Area', 'Peaceful Area',
       'Peaceful Area', 'Moderate Area', 'Peaceful Area', 'Moderate Area',
       'Moderate Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Sensitive Area', 'Sensitive Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Moderate Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area'], dtype='<U14')

In [267]:
Juvenile_apprehended_state_IPC['Area type'] = data_replaced
Juvenile_apprehended_state_IPC

,Boys 7-12 Years,Girls 7-12 Years,Boys 12-16 Years,Girls 12-16 Years,Boys 16-18 Years,Girls 16-18 Years,Total for boys all Age Groups,Total for girls all Age Groups,Grand total,Area type
STATE/UT,,,,,,,,,,
A&N Islands,0,0,10,1,25,3,35,4,39,Peaceful Area
Andhra Pradesh,144,4,1560,85,2975,148,4679,237,4916,Moderate Area
Arunachal Pradesh,12,0,168,1,210,2,390,3,393,Peaceful Area
Assam,63,5,447,30,719,35,1229,70,1299,Peaceful Area
Bihar,10,0,427,11,1670,23,2107,34,2141,Peaceful Area
Chandigarh,7,0,109,4,95,1,211,5,216,Peaceful Area
Chhattisgarh,163,25,2855,149,2856,101,5874,275,6149,Moderate Area
D&N Haveli,1,0,7,0,19,0,27,0,27,Peaceful Area
Daman & Diu,0,0,2,0,11,0,13,0,13,Peaceful Area
Delhi UT,47,2,977,22,1796,30,2820,54,2874,Moderate Area
Goa,5,0,26,1,82,6,113,7,120,Peaceful Area
Gujarat,75,4,1671,169,3186,299,4932,472,5404,Moderate Area
Haryana,17,1,1135,59,3055,244,4207,304,4511,Moderate Area
Himachal Pradesh,11,0,141,12,287,25,439,37,476,Peaceful Area
Jammu & Kashmir,6,3,20,1,1,0,27,4,31,Peaceful Area
Jharkhand,231,0,810,115,1118,183,2159,298,2457,Peaceful Area
Karnataka,242,13,540,21,584,25,1366,59,1425,Peaceful Area
Kerala,7,1,282,13,778,149,1067,163,1230,Peaceful Area
Lakshadweep,0,0,0,0,0,0,0,0,0,Peaceful Area
Madhya Pradesh,860,53,7909,446,13490,544,22259,1043,23302,Sensitive Area
Maharashtra,375,37,6028,428,11639,607,18042,1072,19114,Sensitive Area
Manipur,0,0,0,0,0,0,0,0,0,Peaceful Area
Meghalaya,13,0,142,3,195,3,350,6,356,Peaceful Area
Mizoram,12,2,67,2,98,1,177,5,182,Peaceful Area
Nagaland,13,0,9,0,17,1,39,1,40,Peaceful Area
Odisha,48,0,574,16,641,23,1263,39,1302,Peaceful Area
Puducherry,0,0,31,0,80,3,111,3,114,Peaceful Area
Punjab,12,4,161,11,215,14,388,29,417,Peaceful Area
Rajasthan,95,3,1974,85,3570,328,5639,416,6055,Moderate Area
Sikkim,0,0,13,0,84,10,97,10,107,Peaceful Area
Tamil Nadu,25,1,496,21,1348,59,1869,81,1950,Peaceful Area
Tripura,3,0,28,4,47,4,78,8,86,Peaceful Area
Uttar Pradesh,7,0,300,10,919,17,1226,27,1253,Peaceful Area
Uttarakhand,2,0,78,1,96,0,176,1,177,Peaceful Area
West Bengal,11,1,140,17,643,16,794,34,828,Peaceful Area

In [268]:
filename = 'Juvenile_apprehended_state_IPC_2001_2010.csv'
Juvenile_apprehended_state_IPC.to_csv(filename , index = True)

# Property_stolen_and_recovered_nature_of_property_2001_2010

In [269]:
df_6

,Area_Name,Year,Group_Name,Sub_Group_Name,Cases_Property_Recovered,Cases_Property_Stolen,Value_of_Property_Recovered,Value_of_Property_Stolen
0,Andaman & Nicobar Islands,2001,Cattle - Property,2. Cattle,0,1,0,1000
1,Andhra Pradesh,2001,Cattle - Property,2. Cattle,448,580,6490596,7233876
2,Arunachal Pradesh,2001,Cattle - Property,2. Cattle,22,34,135500,704500
3,Assam,2001,Cattle - Property,2. Cattle,149,322,683350,1816386
4,Bihar,2001,Cattle - Property,2. Cattle,144,334,896019,1911068
...,...,...,...,...,...,...,...,...
4545,Tamil Nadu,2010,Total Property(Nature),Total Property Stolen & Recovered,16125,21509,660311804,1317919190
4546,Tripura,2010,Total Property(Nature),Total Property Stolen & Recovered,192,879,5666102,33032746
4547,Uttar Pradesh,2010,Total Property(Nature),Total Property Stolen & Recovered,9130,35068,577591772,1442670414
4548,Uttarakhand,2010,Total Property(Nature),Total Property Stolen & Recovered,964,2234,47135685,123398840
4549,West Bengal,2010,Total Property(Nature),Total Property Stolen & Recovered,4548,23759,1168242161,5015168687

In [270]:
df_6['Group_Name'].value_counts()

Fire arms - Property                                  700
Cattle - Property                                     350
Communication and Electricity Wire - Property         350
Cultural Property including Antiques - Property       350
Cycle - Property                                      350
Electronic Components - Property                      350
Motor Vehicles - Motor car/Taxi/Jeep - Property       350
Motor Vehicles - Others - Property                    350
Motor Vehicles - Property                             350
Motor Vehicles -\tMotor Cycles/Scooters - Property    350
Other Nature of Property                              350
Total Property(Nature)                                350
Name: Group_Name, dtype: int64

In [271]:
df_6['Sub_Group_Name'].value_counts()

2. Cattle                                    350
1. Communation and Electricity Wire          350
8. Cultural Property including Antiques      350
3. Cycle                                     350
7. Electronic Components                     350
5. Fire Arms                                 350
6. Explosives/Explosive Substances           350
4.2 Motor Vehicles - Motor Car/Taxi/Jeep     350
4.3 Motor Vehicles - Other Motor Vehicles    350
4. Motor Vehicles                            350
4.1 Motor Vehicles - Motor Cycle/Scooters    350
9. Other kinds of Property                   350
Total Property Stolen & Recovered            350
Name: Sub_Group_Name, dtype: int64

In [272]:
df_6 = df_6.sort_values(by=['Area_Name'])
df_6

,Area_Name,Year,Group_Name,Sub_Group_Name,Cases_Property_Recovered,Cases_Property_Stolen,Value_of_Property_Recovered,Value_of_Property_Stolen
0,Andaman & Nicobar Islands,2001,Cattle - Property,2. Cattle,0,1,0,1000
1050,Andaman & Nicobar Islands,2001,Cycle - Property,3. Cycle,0,1,0,2000
3500,Andaman & Nicobar Islands,2001,Motor Vehicles -\tMotor Cycles/Scooters - Prop...,4.1 Motor Vehicles - Motor Cycle/Scooters,0,0,0,0
1015,Andaman & Nicobar Islands,2010,Cultural Property including Antiques - Property,8. Cultural Property including Antiques,0,1,0,120000
3535,Andaman & Nicobar Islands,2002,Motor Vehicles -\tMotor Cycles/Scooters - Prop...,4.1 Motor Vehicles - Motor Cycle/Scooters,0,2,0,32375
...,...,...,...,...,...,...,...,...
3289,West Bengal,2004,Motor Vehicles - Property,4. Motor Vehicles,0,0,0,0
1259,West Bengal,2006,Cycle - Property,3. Cycle,75,201,100465,291491
454,West Bengal,2003,Communication and Electricity Wire - Property,1. Communation and Electricity Wire,112,623,860466,5800738
1119,West Bengal,2002,Cycle - Property,3. Cycle,97,313,137929,796576
4549,West Bengal,2010,Total Property(Nature),Total Property Stolen & Recovered,4548,23759,1168242161,5015168687

In [273]:
print(len(df_6['Area_Name'].value_counts()))
df_6['Area_Name'].value_counts()

35

Andaman & Nicobar Islands    130
Puducherry                   130
Maharashtra                  130
Manipur                      130
Meghalaya                    130
Mizoram                      130
Nagaland                     130
Odisha                       130
Punjab                       130
Lakshadweep                  130
Rajasthan                    130
Sikkim                       130
Tamil Nadu                   130
Tripura                      130
Uttar Pradesh                130
Uttarakhand                  130
Madhya Pradesh               130
Kerala                       130
Andhra Pradesh               130
Daman & Diu                  130
Arunachal Pradesh            130
Assam                        130
Bihar                        130
Chandigarh                   130
Chhattisgarh                 130
Dadra & Nagar Haveli         130
Delhi                        130
Karnataka                    130
Goa                          130
Gujarat                      130
Haryana                      130
Himachal Pradesh             130
Jammu & Kashmir              130
Jharkhand                    130
West Bengal                  130
Name: Area_Name, dtype: int64

In [274]:
Total_property = df_6[df_6['Group_Name'] == 'Total Property(Nature)']

In [275]:
Total_property

,Area_Name,Year,Group_Name,Sub_Group_Name,Cases_Property_Recovered,Cases_Property_Stolen,Value_of_Property_Recovered,Value_of_Property_Stolen
4410,Andaman & Nicobar Islands,2007,Total Property(Nature),Total Property Stolen & Recovered,63,223,2627416,10346456
4445,Andaman & Nicobar Islands,2008,Total Property(Nature),Total Property Stolen & Recovered,112,232,3878055,12614678
4340,Andaman & Nicobar Islands,2005,Total Property(Nature),Total Property Stolen & Recovered,80,172,4202483,261703281
4200,Andaman & Nicobar Islands,2001,Total Property(Nature),Total Property Stolen & Recovered,54,143,1192179,3184477
4235,Andaman & Nicobar Islands,2002,Total Property(Nature),Total Property Stolen & Recovered,37,110,666759,1842721
...,...,...,...,...,...,...,...,...
4339,West Bengal,2004,Total Property(Nature),Total Property Stolen & Recovered,4854,17679,134405024,586035607
4269,West Bengal,2002,Total Property(Nature),Total Property Stolen & Recovered,4274,19012,141080560,455513698
4444,West Bengal,2007,Total Property(Nature),Total Property Stolen & Recovered,3568,17277,138824494,848181023
4409,West Bengal,2006,Total Property(Nature),Total Property Stolen & Recovered,3600,15721,121322464,586751748
4549,West Bengal,2010,Total Property(Nature),Total Property Stolen & Recovered,4548,23759,1168242161,5015168687

In [276]:
Total_property.duplicated().sum()

0

In [277]:
# I will add the the Cases property stolen and recoverd and Value of property stolen and recovered
# from 2001 to 2010 for each state

In [278]:
Stolen_recovered = ['Cases_Property_Recovered', 'Cases_Property_Stolen','Value_of_Property_Recovered','Value_of_Property_Stolen']
total_stolen_recovered_in_district = df_6.groupby('Area_Name')[Stolen_recovered].sum()
total_stolen_recovered_in_district

,Cases_Property_Recovered,Cases_Property_Stolen,Value_of_Property_Recovered,Value_of_Property_Stolen
Area_Name,,,,
Andaman & Nicobar Islands,1584,3753,58746894,652963034
Andhra Pradesh,365664,707653,10042202784,21583696194
Arunachal Pradesh,6404,17536,676669714,1999247979
Assam,58574,260312,2050088094,7426993931
Bihar,67602,437835,1444176791,9295129888
Chandigarh,18449,50266,946569182,2615635654
Chhattisgarh,75361,218707,2450294352,6912572828
Dadra & Nagar Haveli,1281,2935,240858466,2061977572
Daman & Diu,651,2386,97627917,418672357
Delhi,185183,635795,3822400256,74497210284
Goa,6706,22274,440225856,4400660150
Gujarat,189343,622993,8409192128,71285745744
Haryana,160311,380353,12157629227,20544901951
Himachal Pradesh,11503,37781,1057496786,3593845347
Jammu & Kashmir,25424,84564,1717500732,4032599465
Jharkhand,38247,192610,851682603,5468354472
Karnataka,181709,570524,11079496779,33945698679
Kerala,81294,246847,4023466295,30857528237
Lakshadweep,115,383,1976521,11812049
Madhya Pradesh,278003,819819,22427531681,35554532139
Maharashtra,515253,1535782,29543342881,217063089987
Manipur,785,13572,152832926,1580844061
Meghalaya,4286,18543,208510278,1799060939
Mizoram,19371,27498,439567409,1072176297
Nagaland,3229,13639,332185747,4783250928
Odisha,109710,242469,3143069274,14063656181
Puducherry,8798,17909,318754564,568822255
Punjab,94791,175301,10005401525,18625442713
Rajasthan,159169,557767,14614007333,25739605450
Sikkim,1068,3441,63751540,506448388
Tamil Nadu,374758,476573,10628122452,16270244954
Tripura,3558,15025,113733584,707466988
Uttar Pradesh,194531,672276,16116759792,29094427241
Uttarakhand,16353,48127,683096234,2147406706
West Bengal,92953,405243,5822200089,25543386953

In [279]:
# Then I will calculate total losses in each state from 2001 to 2010 
# and according to the loss, I will select sensitive ,  moderate and peaceful areas

In [280]:
total_losses_by_district = total_stolen_recovered_in_district.copy()

In [281]:
total_losses_by_district['Total_loss_in_cases_property'] = total_losses_by_district['Cases_Property_Stolen'] - total_losses_by_district['Cases_Property_Recovered']
total_losses_by_district['Total_loss_in_valueof_property'] = total_losses_by_district['Value_of_Property_Stolen'] - total_losses_by_district['Value_of_Property_Recovered']

In [282]:
total_losses_by_district

,Cases_Property_Recovered,Cases_Property_Stolen,Value_of_Property_Recovered,Value_of_Property_Stolen,Total_loss_in_cases_property,Total_loss_in_valueof_property
Area_Name,,,,,,
Andaman & Nicobar Islands,1584,3753,58746894,652963034,2169,594216140
Andhra Pradesh,365664,707653,10042202784,21583696194,341989,11541493410
Arunachal Pradesh,6404,17536,676669714,1999247979,11132,1322578265
Assam,58574,260312,2050088094,7426993931,201738,5376905837
Bihar,67602,437835,1444176791,9295129888,370233,7850953097
Chandigarh,18449,50266,946569182,2615635654,31817,1669066472
Chhattisgarh,75361,218707,2450294352,6912572828,143346,4462278476
Dadra & Nagar Haveli,1281,2935,240858466,2061977572,1654,1821119106
Daman & Diu,651,2386,97627917,418672357,1735,321044440
Delhi,185183,635795,3822400256,74497210284,450612,70674810028
Goa,6706,22274,440225856,4400660150,15568,3960434294
Gujarat,189343,622993,8409192128,71285745744,433650,62876553616
Haryana,160311,380353,12157629227,20544901951,220042,8387272724
Himachal Pradesh,11503,37781,1057496786,3593845347,26278,2536348561
Jammu & Kashmir,25424,84564,1717500732,4032599465,59140,2315098733
Jharkhand,38247,192610,851682603,5468354472,154363,4616671869
Karnataka,181709,570524,11079496779,33945698679,388815,22866201900
Kerala,81294,246847,4023466295,30857528237,165553,26834061942
Lakshadweep,115,383,1976521,11812049,268,9835528
Madhya Pradesh,278003,819819,22427531681,35554532139,541816,13127000458
Maharashtra,515253,1535782,29543342881,217063089987,1020529,187519747106
Manipur,785,13572,152832926,1580844061,12787,1428011135
Meghalaya,4286,18543,208510278,1799060939,14257,1590550661
Mizoram,19371,27498,439567409,1072176297,8127,632608888
Nagaland,3229,13639,332185747,4783250928,10410,4451065181
Odisha,109710,242469,3143069274,14063656181,132759,10920586907
Puducherry,8798,17909,318754564,568822255,9111,250067691
Punjab,94791,175301,10005401525,18625442713,80510,8620041188
Rajasthan,159169,557767,14614007333,25739605450,398598,11125598117
Sikkim,1068,3441,63751540,506448388,2373,442696848
Tamil Nadu,374758,476573,10628122452,16270244954,101815,5642122502
Tripura,3558,15025,113733584,707466988,11467,593733404
Uttar Pradesh,194531,672276,16116759792,29094427241,477745,12977667449
Uttarakhand,16353,48127,683096234,2147406706,31774,1464310472
West Bengal,92953,405243,5822200089,25543386953,312290,19721186864

In [283]:
total_losses_by_district.shape

(35, 6)

In [284]:
total_losses_by_district.columns

Index(['Cases_Property_Recovered', 'Cases_Property_Stolen',
       'Value_of_Property_Recovered', 'Value_of_Property_Stolen',
       'Total_loss_in_cases_property', 'Total_loss_in_valueof_property'],
      dtype='object')

In [285]:
unimportant_columns = ['Cases_Property_Recovered', 'Cases_Property_Stolen','Value_of_Property_Recovered', 'Value_of_Property_Stolen']
total_losses = total_losses_by_district.drop(unimportant_columns , axis = 1)
total_losses

,Total_loss_in_cases_property,Total_loss_in_valueof_property
Area_Name,,
Andaman & Nicobar Islands,2169,594216140
Andhra Pradesh,341989,11541493410
Arunachal Pradesh,11132,1322578265
Assam,201738,5376905837
Bihar,370233,7850953097
Chandigarh,31817,1669066472
Chhattisgarh,143346,4462278476
Dadra & Nagar Haveli,1654,1821119106
Daman & Diu,1735,321044440
Delhi,450612,70674810028
Goa,15568,3960434294
Gujarat,433650,62876553616
Haryana,220042,8387272724
Himachal Pradesh,26278,2536348561
Jammu & Kashmir,59140,2315098733
Jharkhand,154363,4616671869
Karnataka,388815,22866201900
Kerala,165553,26834061942
Lakshadweep,268,9835528
Madhya Pradesh,541816,13127000458
Maharashtra,1020529,187519747106
Manipur,12787,1428011135
Meghalaya,14257,1590550661
Mizoram,8127,632608888
Nagaland,10410,4451065181
Odisha,132759,10920586907
Puducherry,9111,250067691
Punjab,80510,8620041188
Rajasthan,398598,11125598117
Sikkim,2373,442696848
Tamil Nadu,101815,5642122502
Tripura,11467,593733404
Uttar Pradesh,477745,12977667449
Uttarakhand,31774,1464310472
West Bengal,312290,19721186864

# Importing models :

In [286]:
from sklearn.preprocessing import OneHotEncoder , StandardScaler
from sklearn.compose import  ColumnTransformer

In [287]:
scaler = StandardScaler()
# ohe = OneHotEncoder()
preprocessor_new = ColumnTransformer(
transformers = [
    #('onehotencoder', ohe ,[0] ),
    ('standardscaler', scaler ,[0,1])
],
remainder = 'passthrough'
)

In [288]:
# I will use AgglomerativeClustering . I have tried other models also , but this is giving me best result .

In [289]:
from sklearn.cluster  import AgglomerativeClustering
ac = AgglomerativeClustering(n_clusters = 3 , affinity = 'euclidean', linkage = 'complete') 
x = preprocessor_new.fit_transform(total_losses)
labels_new = ac.fit_predict(x)
labels_new

C:\Users\admin\anaconda3\Lib\site-packages\sklearn\cluster\_agglomerative.py:1005: FutureWarning: Attribute `affinity` was deprecated in version 1.2 and will be removed in 1.4. Use `metric` instead
  warnings.warn(

array([2, 0, 2, 2, 0, 2, 2, 2, 2, 0, 2, 0, 2, 2, 2, 2, 0, 2, 2, 0, 1, 2,
       2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 0, 2, 0], dtype=int64)

In [290]:
print(np.where(labels_new == 0 ))
print(np.where(labels_new == 2 ))
print(np.where(labels_new == 1 ))

(array([ 1,  4,  9, 11, 16, 19, 28, 32, 34], dtype=int64),)
(array([ 0,  2,  3,  5,  6,  7,  8, 10, 12, 13, 14, 15, 17, 18, 21, 22, 23,
       24, 25, 26, 27, 29, 30, 31, 33], dtype=int64),)
(array([20], dtype=int64),)

In [291]:
total_losses.iloc[34]

Total_loss_in_cases_property           312290
Total_loss_in_valueof_property    19721186864
Name: West Bengal, dtype: int64

In [292]:
total_losses.iloc[0]

Total_loss_in_cases_property           2169
Total_loss_in_valueof_property    594216140
Name: Andaman & Nicobar Islands, dtype: int64

In [293]:
total_losses.iloc[20]

Total_loss_in_cases_property           1020529
Total_loss_in_valueof_property    187519747106
Name: Maharashtra, dtype: int64

In [294]:
area_labels = {0: "Moderate Area", 1: "Sensitive Area", 2: "Peaceful Area"}

# Replace values in the array using the dictionary
data_replaced = np.vectorize(lambda x: area_labels.get(x))(labels_new)

In [295]:
total_losses['Area type'] = data_replaced
total_losses

,Total_loss_in_cases_property,Total_loss_in_valueof_property,Area type
Area_Name,,,
Andaman & Nicobar Islands,2169,594216140,Peaceful Area
Andhra Pradesh,341989,11541493410,Moderate Area
Arunachal Pradesh,11132,1322578265,Peaceful Area
Assam,201738,5376905837,Peaceful Area
Bihar,370233,7850953097,Moderate Area
Chandigarh,31817,1669066472,Peaceful Area
Chhattisgarh,143346,4462278476,Peaceful Area
Dadra & Nagar Haveli,1654,1821119106,Peaceful Area
Daman & Diu,1735,321044440,Peaceful Area
Delhi,450612,70674810028,Moderate Area
Goa,15568,3960434294,Peaceful Area
Gujarat,433650,62876553616,Moderate Area
Haryana,220042,8387272724,Peaceful Area
Himachal Pradesh,26278,2536348561,Peaceful Area
Jammu & Kashmir,59140,2315098733,Peaceful Area
Jharkhand,154363,4616671869,Peaceful Area
Karnataka,388815,22866201900,Moderate Area
Kerala,165553,26834061942,Peaceful Area
Lakshadweep,268,9835528,Peaceful Area
Madhya Pradesh,541816,13127000458,Moderate Area
Maharashtra,1020529,187519747106,Sensitive Area
Manipur,12787,1428011135,Peaceful Area
Meghalaya,14257,1590550661,Peaceful Area
Mizoram,8127,632608888,Peaceful Area
Nagaland,10410,4451065181,Peaceful Area
Odisha,132759,10920586907,Peaceful Area
Puducherry,9111,250067691,Peaceful Area
Punjab,80510,8620041188,Peaceful Area
Rajasthan,398598,11125598117,Moderate Area
Sikkim,2373,442696848,Peaceful Area
Tamil Nadu,101815,5642122502,Peaceful Area
Tripura,11467,593733404,Peaceful Area
Uttar Pradesh,477745,12977667449,Moderate Area
Uttarakhand,31774,1464310472,Peaceful Area
West Bengal,312290,19721186864,Moderate Area

In [296]:
file_name =  'Total_property_losses.csv'
total_losses.to_csv(file_name , index = True)

# Police_killed_or_injured_on_duty_2001_2010

In [297]:
df_7

,Area_Name,Year,Group_Name,Sub_Group_Name,Police_Injured_By_Criminals,Police_Injured_By_Riotous_Mobs,Police_Injured_In_Accidents,Police_Injured_In_Dacoity_OperationsOther_raids,Police_Injured_In_TerroristsExtremists_Operations,Police_Injured_On_Border_Duties,Police_Injured_Total_Policemen,Police_Killed_By_Criminals,Police_Killed_By_Riotous_Mobs,Police_Killed_In_Accidents,Police_Killed_In_Dacoity_OperationsOther_raids,Police_Killed_In_TerroristsExtremists_Operations,Police_Killed_On_Border_Duties,Police_Killed_Total_Policemen
0,Andaman & Nicobar Islands,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,Andhra Pradesh,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,3,4,1,3,0,11,0,0,2,0,3,0,5
2,Arunachal Pradesh,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Assam,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,0,0,0,1,0,1,0,0,1,0,0,0,1
4,Bihar,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,1,0,0,0,2,0,3,0,0,0,0,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2445,Tamil Nadu,2010,Police - Total,7. Total Police Killed or Injured,10,26,142,4,0,0,182,2,0,65,0,0,0,67
2446,Tripura,2010,Police - Total,7. Total Police Killed or Injured,0,0,0,0,2,0,2,0,0,0,0,0,2,2
2447,Uttar Pradesh,2010,Police - Total,7. Total Police Killed or Injured,6,10,9,10,0,8,43,2,1,101,0,0,1,105
2448,Uttarakhand,2010,Police - Total,7. Total Police Killed or Injured,0,0,5,0,0,0,5,0,0,15,0,0,0,15
2449,West Bengal,2010,Police - Total,7. Total Police Killed or Injured,17,265,86,23,21,0,412,2,0,20,1,2,0,25

In [298]:
df_7.columns

Index(['Area_Name', 'Year', 'Group_Name', 'Sub_Group_Name',
       'Police_Injured_By_Criminals', 'Police_Injured_By_Riotous_Mobs',
       'Police_Injured_In_Accidents',
       'Police_Injured_In_Dacoity_OperationsOther_raids',
       'Police_Injured_In_TerroristsExtremists_Operations',
       'Police_Injured_On_Border_Duties', 'Police_Injured_Total_Policemen',
       'Police_Killed_By_Criminals', 'Police_Killed_By_Riotous_Mobs',
       'Police_Killed_In_Accidents',
       'Police_Killed_In_Dacoity_OperationsOther_raids',
       'Police_Killed_In_TerroristsExtremists_Operations',
       'Police_Killed_On_Border_Duties', 'Police_Killed_Total_Policemen'],
      dtype='object')

In [299]:
unimportant_columns = ['Police_Injured_In_Accidents','Police_Injured_On_Border_Duties','Police_Killed_In_Accidents','Police_Killed_On_Border_Duties']
df_7 = df_7.drop(unimportant_columns , axis = 1)
df_7

,Area_Name,Year,Group_Name,Sub_Group_Name,Police_Injured_By_Criminals,Police_Injured_By_Riotous_Mobs,Police_Injured_In_Dacoity_OperationsOther_raids,Police_Injured_In_TerroristsExtremists_Operations,Police_Injured_Total_Policemen,Police_Killed_By_Criminals,Police_Killed_By_Riotous_Mobs,Police_Killed_In_Dacoity_OperationsOther_raids,Police_Killed_In_TerroristsExtremists_Operations,Police_Killed_Total_Policemen
0,Andaman & Nicobar Islands,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,0,0,0,0,0,0,0,0,0
1,Andhra Pradesh,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,3,1,3,11,0,0,0,3,5
2,Arunachal Pradesh,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,0,0,0,0,0,0,0,0,0
3,Assam,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,0,0,1,1,0,0,0,0,1
4,Bihar,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,1,0,0,2,3,0,0,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2445,Tamil Nadu,2010,Police - Total,7. Total Police Killed or Injured,10,26,4,0,182,2,0,0,0,67
2446,Tripura,2010,Police - Total,7. Total Police Killed or Injured,0,0,0,2,2,0,0,0,0,2
2447,Uttar Pradesh,2010,Police - Total,7. Total Police Killed or Injured,6,10,10,0,43,2,1,0,0,105
2448,Uttarakhand,2010,Police - Total,7. Total Police Killed or Injured,0,0,0,0,5,0,0,0,0,15
2449,West Bengal,2010,Police - Total,7. Total Police Killed or Injured,17,265,23,21,412,2,0,1,2,25

In [300]:
df_7 = df_7.sort_values(by = ['Area_Name'])
df_7

,Area_Name,Year,Group_Name,Sub_Group_Name,Police_Injured_By_Criminals,Police_Injured_By_Riotous_Mobs,Police_Injured_In_Dacoity_OperationsOther_raids,Police_Injured_In_TerroristsExtremists_Operations,Police_Injured_Total_Policemen,Police_Killed_By_Criminals,Police_Killed_By_Riotous_Mobs,Police_Killed_In_Dacoity_OperationsOther_raids,Police_Killed_In_TerroristsExtremists_Operations,Police_Killed_Total_Policemen
0,Andaman & Nicobar Islands,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,0,0,0,0,0,0,0,0,0
2415,Andaman & Nicobar Islands,2010,Police - Total,7. Total Police Killed or Injured,6,0,0,0,6,0,0,0,0,1
1120,Andaman & Nicobar Islands,2003,Police - Inspectors,5. Inspectors,0,0,0,0,0,0,0,0,0,0
1085,Andaman & Nicobar Islands,2002,Police - Inspectors,5. Inspectors,0,0,0,0,0,0,0,0,0,0
1050,Andaman & Nicobar Islands,2001,Police - Inspectors,5. Inspectors,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1644,West Bengal,2007,Police - Other Gazetted Officers,6. Gazetted Officers,0,17,0,0,17,0,0,0,0,0
1679,West Bengal,2008,Police - Other Gazetted Officers,6. Gazetted Officers,0,6,0,0,10,0,0,0,0,0
1714,West Bengal,2009,Police - Other Gazetted Officers,6. Gazetted Officers,1,3,0,0,5,0,0,0,0,0
1504,West Bengal,2003,Police - Other Gazetted Officers,6. Gazetted Officers,1,3,1,0,5,0,0,0,0,0
2449,West Bengal,2010,Police - Total,7. Total Police Killed or Injured,17,265,23,21,412,2,0,1,2,25

In [301]:
df_7['Group_Name'].value_counts()

Police - Assistant Sub-Inspectors    350
Police - Total                       350
Police - Inspectors                  350
Police - Head Constables             350
Police - Constables                  350
Police - Sub-Inspectors              350
Police - Other Gazetted Officers     350
Name: Group_Name, dtype: int64

In [302]:
Total_police_crime_each_year  = df_7[df_7['Group_Name']=='Police - Total']
Total_police_crime_each_year

,Area_Name,Year,Group_Name,Sub_Group_Name,Police_Injured_By_Criminals,Police_Injured_By_Riotous_Mobs,Police_Injured_In_Dacoity_OperationsOther_raids,Police_Injured_In_TerroristsExtremists_Operations,Police_Injured_Total_Policemen,Police_Killed_By_Criminals,Police_Killed_By_Riotous_Mobs,Police_Killed_In_Dacoity_OperationsOther_raids,Police_Killed_In_TerroristsExtremists_Operations,Police_Killed_Total_Policemen
2415,Andaman & Nicobar Islands,2010,Police - Total,7. Total Police Killed or Injured,6,0,0,0,6,0,0,0,0,1
2345,Andaman & Nicobar Islands,2008,Police - Total,7. Total Police Killed or Injured,5,0,0,0,5,1,0,0,0,1
2310,Andaman & Nicobar Islands,2007,Police - Total,7. Total Police Killed or Injured,0,0,0,0,0,0,0,0,0,0
2275,Andaman & Nicobar Islands,2006,Police - Total,7. Total Police Killed or Injured,0,0,0,0,0,0,0,0,0,0
2240,Andaman & Nicobar Islands,2005,Police - Total,7. Total Police Killed or Injured,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2204,West Bengal,2003,Police - Total,7. Total Police Killed or Injured,10,153,32,18,292,1,0,0,1,18
2169,West Bengal,2002,Police - Total,7. Total Police Killed or Injured,45,113,15,27,285,0,0,0,8,27
2134,West Bengal,2001,Police - Total,7. Total Police Killed or Injured,24,194,38,0,435,3,1,0,0,18
2379,West Bengal,2008,Police - Total,7. Total Police Killed or Injured,29,245,3,0,414,1,0,0,0,16
2449,West Bengal,2010,Police - Total,7. Total Police Killed or Injured,17,265,23,21,412,2,0,1,2,25

In [303]:
Modified_df_7 = df_7[~df_7['Group_Name'].str.contains('Police - Total')]
Modified_df_7

,Area_Name,Year,Group_Name,Sub_Group_Name,Police_Injured_By_Criminals,Police_Injured_By_Riotous_Mobs,Police_Injured_In_Dacoity_OperationsOther_raids,Police_Injured_In_TerroristsExtremists_Operations,Police_Injured_Total_Policemen,Police_Killed_By_Criminals,Police_Killed_By_Riotous_Mobs,Police_Killed_In_Dacoity_OperationsOther_raids,Police_Killed_In_TerroristsExtremists_Operations,Police_Killed_Total_Policemen
0,Andaman & Nicobar Islands,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,0,0,0,0,0,0,0,0,0
1120,Andaman & Nicobar Islands,2003,Police - Inspectors,5. Inspectors,0,0,0,0,0,0,0,0,0,0
1085,Andaman & Nicobar Islands,2002,Police - Inspectors,5. Inspectors,0,0,0,0,0,0,0,0,0,0
1050,Andaman & Nicobar Islands,2001,Police - Inspectors,5. Inspectors,0,0,0,0,0,0,0,0,0,0
1015,Andaman & Nicobar Islands,2010,Police - Head Constables,2. Head Constables,2,0,0,0,2,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1609,West Bengal,2006,Police - Other Gazetted Officers,6. Gazetted Officers,2,4,0,0,6,0,0,0,0,1
1644,West Bengal,2007,Police - Other Gazetted Officers,6. Gazetted Officers,0,17,0,0,17,0,0,0,0,0
1679,West Bengal,2008,Police - Other Gazetted Officers,6. Gazetted Officers,0,6,0,0,10,0,0,0,0,0
1714,West Bengal,2009,Police - Other Gazetted Officers,6. Gazetted Officers,1,3,0,0,5,0,0,0,0,0
1504,West Bengal,2003,Police - Other Gazetted Officers,6. Gazetted Officers,1,3,1,0,5,0,0,0,0,0

In [304]:
Modified_df_7.columns

Index(['Area_Name', 'Year', 'Group_Name', 'Sub_Group_Name',
       'Police_Injured_By_Criminals', 'Police_Injured_By_Riotous_Mobs',
       'Police_Injured_In_Dacoity_OperationsOther_raids',
       'Police_Injured_In_TerroristsExtremists_Operations',
       'Police_Injured_Total_Policemen', 'Police_Killed_By_Criminals',
       'Police_Killed_By_Riotous_Mobs',
       'Police_Killed_In_Dacoity_OperationsOther_raids',
       'Police_Killed_In_TerroristsExtremists_Operations',
       'Police_Killed_Total_Policemen'],
      dtype='object')

In [305]:
# I will do the total of the numerical columns :

In [306]:
columns = ['Police_Injured_By_Criminals', 'Police_Injured_By_Riotous_Mobs','Police_Injured_In_Dacoity_OperationsOther_raids','Police_Injured_In_TerroristsExtremists_Operations','Police_Injured_Total_Policemen', 'Police_Killed_By_Criminals','Police_Killed_By_Riotous_Mobs','Police_Killed_In_Dacoity_OperationsOther_raids','Police_Killed_In_TerroristsExtremists_Operations','Police_Killed_Total_Policemen']
crimes_against_police = Modified_df_7.groupby('Area_Name')[columns].sum()
crimes_against_police

,Police_Injured_By_Criminals,Police_Injured_By_Riotous_Mobs,Police_Injured_In_Dacoity_OperationsOther_raids,Police_Injured_In_TerroristsExtremists_Operations,Police_Injured_Total_Policemen,Police_Killed_By_Criminals,Police_Killed_By_Riotous_Mobs,Police_Killed_In_Dacoity_OperationsOther_raids,Police_Killed_In_TerroristsExtremists_Operations,Police_Killed_Total_Policemen
Area_Name,,,,,,,,,,
Andaman & Nicobar Islands,11,0,0,0,11,1,0,0,0,5
Andhra Pradesh,122,664,50,126,1890,9,6,6,92,499
Arunachal Pradesh,5,19,15,1,40,0,0,0,0,1
Assam,25,57,7,104,232,18,9,16,71,143
Bihar,63,68,28,71,312,46,10,7,86,231
Chandigarh,57,156,0,0,283,0,0,0,0,21
Chhattisgarh,44,62,8,268,421,25,0,2,332,426
Dadra & Nagar Haveli,0,0,0,0,0,0,0,0,0,0
Daman & Diu,0,0,0,0,0,0,0,0,0,0
Delhi,205,572,30,20,1133,9,1,0,7,189
Goa,13,135,0,0,177,0,0,0,0,2
Gujarat,100,720,30,23,1087,16,5,6,3,515
Haryana,47,117,1,0,276,25,10,0,0,359
Himachal Pradesh,46,49,4,0,127,6,0,0,0,33
Jammu & Kashmir,191,3923,4,1045,5231,49,2,1,437,571
Jharkhand,7,63,3,156,267,25,7,4,214,329
Karnataka,273,1243,121,17,2193,35,2,4,0,201
Kerala,1363,2543,16,2,4334,4,2,1,1,61
Lakshadweep,0,0,0,0,0,0,0,0,0,0
Madhya Pradesh,805,764,48,8,1890,53,1,8,1,310
Maharashtra,623,3593,328,197,5873,39,6,5,137,912
Manipur,1,2,5,34,43,3,1,5,30,48
Meghalaya,2,85,5,5,100,10,1,7,11,35
Mizoram,2,0,0,3,5,3,0,0,14,19
Nagaland,1,1,0,0,5,0,1,0,3,5
Odisha,151,229,55,100,579,3,6,1,63,116
Puducherry,79,14,0,0,147,0,0,0,0,1
Punjab,53,104,2,2,307,86,0,3,2,922
Rajasthan,1066,1233,11,1,2547,59,6,4,0,400
Sikkim,0,1,0,0,3,7,0,0,0,13
Tamil Nadu,177,314,45,0,1835,8,11,2,2,494
Tripura,2,1,0,124,164,4,1,1,123,147
Uttar Pradesh,338,299,110,15,1159,121,15,53,8,1075
Uttarakhand,2,22,0,0,91,6,1,0,0,93
West Bengal,253,2146,180,117,3754,17,7,2,19,201

In [307]:
crimes_against_police.shape

(35, 10)

# Importing Models :

In [308]:
from sklearn.preprocessing import StandardScaler
from sklearn.compose import  ColumnTransformer

In [309]:
scaler = StandardScaler()
preprocessor_new = ColumnTransformer(
transformers = [
    ('standardscaler', scaler ,[0,1,2,3,4,5,6,7,8,9])
],
remainder = 'passthrough'
)

In [310]:
from sklearn.cluster  import KMeans
km = KMeans(n_clusters = 3 , init = 'k-means++',n_init = 100, max_iter = 300, random_state = 0) 
# x = preprocessor_new.fit_transform(total_losses)
labels_new = km.fit_predict(crimes_against_police)
labels_new

C:\Users\admin\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1436: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

array([1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 2, 1, 0, 2, 1, 0, 2, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 2])

In [311]:
print(np.where(labels_new == 0))
print()
print(np.where(labels_new == 1))
print()
print(np.where(labels_new == 2))

(array([ 1,  9, 11, 16, 19, 28, 30, 32], dtype=int64),)

(array([ 0,  2,  3,  4,  5,  6,  7,  8, 10, 12, 13, 15, 18, 21, 22, 23, 24,
       25, 26, 27, 29, 31, 33], dtype=int64),)

(array([14, 17, 20, 34], dtype=int64),)

In [312]:
crimes_against_police.iloc[1]

Police_Injured_By_Criminals                           122
Police_Injured_By_Riotous_Mobs                        664
Police_Injured_In_Dacoity_OperationsOther_raids        50
Police_Injured_In_TerroristsExtremists_Operations     126
Police_Injured_Total_Policemen                       1890
Police_Killed_By_Criminals                              9
Police_Killed_By_Riotous_Mobs                           6
Police_Killed_In_Dacoity_OperationsOther_raids          6
Police_Killed_In_TerroristsExtremists_Operations       92
Police_Killed_Total_Policemen                         499
Name: Andhra Pradesh, dtype: int64

In [313]:
crimes_against_police.iloc[0]

Police_Injured_By_Criminals                          11
Police_Injured_By_Riotous_Mobs                        0
Police_Injured_In_Dacoity_OperationsOther_raids       0
Police_Injured_In_TerroristsExtremists_Operations     0
Police_Injured_Total_Policemen                       11
Police_Killed_By_Criminals                            1
Police_Killed_By_Riotous_Mobs                         0
Police_Killed_In_Dacoity_OperationsOther_raids        0
Police_Killed_In_TerroristsExtremists_Operations      0
Police_Killed_Total_Policemen                         5
Name: Andaman & Nicobar Islands, dtype: int64

In [314]:
crimes_against_police.iloc[34]

Police_Injured_By_Criminals                           253
Police_Injured_By_Riotous_Mobs                       2146
Police_Injured_In_Dacoity_OperationsOther_raids       180
Police_Injured_In_TerroristsExtremists_Operations     117
Police_Injured_Total_Policemen                       3754
Police_Killed_By_Criminals                             17
Police_Killed_By_Riotous_Mobs                           7
Police_Killed_In_Dacoity_OperationsOther_raids          2
Police_Killed_In_TerroristsExtremists_Operations       19
Police_Killed_Total_Policemen                         201
Name: West Bengal, dtype: int64

In [315]:
area_labels = {0: "Moderate Area", 1: "Peaceful Area", 2: "Sensitive Area"}

# Replace values in the array using the dictionary
data_replaced = np.vectorize(lambda x: area_labels.get(x))(labels_new)

In [316]:
crimes_against_police['Area type'] = data_replaced
crimes_against_police

,Police_Injured_By_Criminals,Police_Injured_By_Riotous_Mobs,Police_Injured_In_Dacoity_OperationsOther_raids,Police_Injured_In_TerroristsExtremists_Operations,Police_Injured_Total_Policemen,Police_Killed_By_Criminals,Police_Killed_By_Riotous_Mobs,Police_Killed_In_Dacoity_OperationsOther_raids,Police_Killed_In_TerroristsExtremists_Operations,Police_Killed_Total_Policemen,Area type
Area_Name,,,,,,,,,,,
Andaman & Nicobar Islands,11,0,0,0,11,1,0,0,0,5,Peaceful Area
Andhra Pradesh,122,664,50,126,1890,9,6,6,92,499,Moderate Area
Arunachal Pradesh,5,19,15,1,40,0,0,0,0,1,Peaceful Area
Assam,25,57,7,104,232,18,9,16,71,143,Peaceful Area
Bihar,63,68,28,71,312,46,10,7,86,231,Peaceful Area
Chandigarh,57,156,0,0,283,0,0,0,0,21,Peaceful Area
Chhattisgarh,44,62,8,268,421,25,0,2,332,426,Peaceful Area
Dadra & Nagar Haveli,0,0,0,0,0,0,0,0,0,0,Peaceful Area
Daman & Diu,0,0,0,0,0,0,0,0,0,0,Peaceful Area
Delhi,205,572,30,20,1133,9,1,0,7,189,Moderate Area
Goa,13,135,0,0,177,0,0,0,0,2,Peaceful Area
Gujarat,100,720,30,23,1087,16,5,6,3,515,Moderate Area
Haryana,47,117,1,0,276,25,10,0,0,359,Peaceful Area
Himachal Pradesh,46,49,4,0,127,6,0,0,0,33,Peaceful Area
Jammu & Kashmir,191,3923,4,1045,5231,49,2,1,437,571,Sensitive Area
Jharkhand,7,63,3,156,267,25,7,4,214,329,Peaceful Area
Karnataka,273,1243,121,17,2193,35,2,4,0,201,Moderate Area
Kerala,1363,2543,16,2,4334,4,2,1,1,61,Sensitive Area
Lakshadweep,0,0,0,0,0,0,0,0,0,0,Peaceful Area
Madhya Pradesh,805,764,48,8,1890,53,1,8,1,310,Moderate Area
Maharashtra,623,3593,328,197,5873,39,6,5,137,912,Sensitive Area
Manipur,1,2,5,34,43,3,1,5,30,48,Peaceful Area
Meghalaya,2,85,5,5,100,10,1,7,11,35,Peaceful Area
Mizoram,2,0,0,3,5,3,0,0,14,19,Peaceful Area
Nagaland,1,1,0,0,5,0,1,0,3,5,Peaceful Area
Odisha,151,229,55,100,579,3,6,1,63,116,Peaceful Area
Puducherry,79,14,0,0,147,0,0,0,0,1,Peaceful Area
Punjab,53,104,2,2,307,86,0,3,2,922,Peaceful Area
Rajasthan,1066,1233,11,1,2547,59,6,4,0,400,Moderate Area
Sikkim,0,1,0,0,3,7,0,0,0,13,Peaceful Area
Tamil Nadu,177,314,45,0,1835,8,11,2,2,494,Moderate Area
Tripura,2,1,0,124,164,4,1,1,123,147,Peaceful Area
Uttar Pradesh,338,299,110,15,1159,121,15,53,8,1075,Moderate Area
Uttarakhand,2,22,0,0,91,6,1,0,0,93,Peaceful Area
West Bengal,253,2146,180,117,3754,17,7,2,19,201,Sensitive Area

# Case_reported_and_value_of_property_taken_away_by_place_of_occurrence

In [317]:
# In this dataset , I will analysinse each place of each state . 
# So that it can tell us how peaceful a perticular place  of a state is .

In [318]:
df_8

,STATE/UT,YEAR,Place Of Occurrence,Dacoity (Section 395-398 IPC) - Number of cases registered,Dacoity (Section 395-398 IPC) - Value Of Property Stolen (in rupees),"Robbery(Section 392-394, 397, 398 IPC) - Number of cases registered","Robbery(Section 392-394, 397, 398 IPC) - Value Of Property Stolen (in rupees)","Burglary(Section 449-452, 454, 455, 457-460 IPC) - Number of cases registered","Burglary(Section 449-452, 454, 455, 457-460 IPC) - Value Of Property Stolen (in rupees)",Theft (Section 379-382 IPC) - Number of cases registered,Theft (Section 379-382 IPC) - Value Of Property Stolen (in rupees)
0,Andhra Pradesh,2001,RESIDENTIAL PREMISES,100,4446961,177,5962460,5158,105324332,4257,53517835
1,Andhra Pradesh,2001,HIGH-WAY,57,5340335,172,6364866,31,2000574,74,1593092
2,Andhra Pradesh,2001,RIVER & SEA,2,145345,11,209330,101,1412516,110,1610200
3,Andhra Pradesh,2001,RAILWAYS,8,1750800,19,304336,6,24392,943,16418110
4,Andhra Pradesh,2001,RUNNING TRAINS,5,75000,3,164000,0,0,296,6170175
...,...,...,...,...,...,...,...,...,...,...,...
4339,Puducherry,2012,BANKS,0,0,0,0,0,0,0,0
4340,Puducherry,2012,COMMERCIAL ESTABLISHMENTS,2,58000,4,197230,26,2117964,20,647043
4341,Puducherry,2012,OTHER PLACES,2,575000,8,113100,4,25500,596,19689249
4342,Puducherry,2012,TOTAL (MANUAL),5,683000,16,2520330,77,12168314,658,23866392
4343,Puducherry,2012,TOTAL COMPUTER FROM 1 TO 7,5,683000,16,2520330,77,12168314,658,23866392

In [319]:
df_8.columns

Index(['STATE/UT', 'YEAR', 'Place Of Occurrence',
       'Dacoity (Section 395-398 IPC) - Number of cases registered',
       'Dacoity (Section 395-398 IPC) - Value Of Property Stolen (in rupees)',
       'Robbery(Section 392-394, 397, 398 IPC) - Number of cases registered',
       'Robbery(Section 392-394, 397, 398 IPC) - Value Of Property Stolen (in rupees)',
       'Burglary(Section 449-452, 454, 455, 457-460 IPC) - Number of cases registered',
       'Burglary(Section 449-452, 454, 455, 457-460 IPC) - Value Of Property Stolen (in rupees)',
       'Theft (Section 379-382 IPC) - Number of cases registered',
       'Theft (Section 379-382 IPC) - Value Of Property Stolen (in rupees)'],
      dtype='object')

In [320]:
df_8['Place Of Occurrence'].value_counts()

RESIDENTIAL PREMISES          420
HIGH-WAY                      420
RIVER & SEA                   420
RAILWAYS                      420
RUNNING TRAINS                420
BANKS                         420
COMMERCIAL ESTABLISHMENTS     420
OTHER PLACES                  420
TOTAL (MANUAL)                420
OTHERS RLY.                   419
TOTAL COMPUTER FROM 1 TO 7    145
Name: Place Of Occurrence, dtype: int64

In [321]:
df_8[df_8['Place Of Occurrence']== 'TOTAL (MANUAL)']

,STATE/UT,YEAR,Place Of Occurrence,Dacoity (Section 395-398 IPC) - Number of cases registered,Dacoity (Section 395-398 IPC) - Value Of Property Stolen (in rupees),"Robbery(Section 392-394, 397, 398 IPC) - Number of cases registered","Robbery(Section 392-394, 397, 398 IPC) - Value Of Property Stolen (in rupees)","Burglary(Section 449-452, 454, 455, 457-460 IPC) - Number of cases registered","Burglary(Section 449-452, 454, 455, 457-460 IPC) - Value Of Property Stolen (in rupees)",Theft (Section 379-382 IPC) - Number of cases registered,Theft (Section 379-382 IPC) - Value Of Property Stolen (in rupees)
9,Andhra Pradesh,2001,TOTAL (MANUAL),214,29127698,629,22872277,7220,147019348,16751,224104509
20,Andhra Pradesh,2002,TOTAL (MANUAL),197,24840635,648,19471642,7628,176224716,19222,241628837
31,Andhra Pradesh,2003,TOTAL (MANUAL),176,42850011,660,22343329,9050,195788844,23408,353299084
41,Andhra Pradesh,2004,TOTAL (MANUAL),199,17206064,596,22674264,8457,216381714,23578,391028586
51,Andhra Pradesh,2005,TOTAL (MANUAL),250,29946537,794,29807447,7954,240127856,23778,451664136
...,...,...,...,...,...,...,...,...,...,...,...
4302,Puducherry,2008,TOTAL (MANUAL),10,1923300,10,435490,90,5486940,688,18393372
4312,Puducherry,2009,TOTAL (MANUAL),7,2056400,9,520200,71,5541789,711,16457917
4322,Puducherry,2010,TOTAL (MANUAL),2,2300000,5,2425969,72,3593876,534,18821640
4332,Puducherry,2011,TOTAL (MANUAL),5,75000,11,1619750,65,7377643,707,24636348
4342,Puducherry,2012,TOTAL (MANUAL),5,683000,16,2520330,77,12168314,658,23866392

In [322]:
values_to_drop = ['TOTAL (MANUAL)', 'OTHERS RLY.', 'TOTAL COMPUTER FROM 1 TO 7']

# Drop rows with unwanted values
Modified_df_8 = df_8[~df_8['Place Of Occurrence'].isin(values_to_drop)]

In [323]:
Modified_df_8

,STATE/UT,YEAR,Place Of Occurrence,Dacoity (Section 395-398 IPC) - Number of cases registered,Dacoity (Section 395-398 IPC) - Value Of Property Stolen (in rupees),"Robbery(Section 392-394, 397, 398 IPC) - Number of cases registered","Robbery(Section 392-394, 397, 398 IPC) - Value Of Property Stolen (in rupees)","Burglary(Section 449-452, 454, 455, 457-460 IPC) - Number of cases registered","Burglary(Section 449-452, 454, 455, 457-460 IPC) - Value Of Property Stolen (in rupees)",Theft (Section 379-382 IPC) - Number of cases registered,Theft (Section 379-382 IPC) - Value Of Property Stolen (in rupees)
0,Andhra Pradesh,2001,RESIDENTIAL PREMISES,100,4446961,177,5962460,5158,105324332,4257,53517835
1,Andhra Pradesh,2001,HIGH-WAY,57,5340335,172,6364866,31,2000574,74,1593092
2,Andhra Pradesh,2001,RIVER & SEA,2,145345,11,209330,101,1412516,110,1610200
3,Andhra Pradesh,2001,RAILWAYS,8,1750800,19,304336,6,24392,943,16418110
4,Andhra Pradesh,2001,RUNNING TRAINS,5,75000,3,164000,0,0,296,6170175
...,...,...,...,...,...,...,...,...,...,...,...
4336,Puducherry,2012,RAILWAYS,0,0,0,0,0,0,0,0
4337,Puducherry,2012,RUNNING TRAINS,0,0,0,0,0,0,0,0
4339,Puducherry,2012,BANKS,0,0,0,0,0,0,0,0
4340,Puducherry,2012,COMMERCIAL ESTABLISHMENTS,2,58000,4,197230,26,2117964,20,647043
4341,Puducherry,2012,OTHER PLACES,2,575000,8,113100,4,25500,596,19689249

In [324]:
len(Modified_df_8['STATE/UT'].unique())

35

In [325]:
columns = ['Dacoity (Section 395-398 IPC) - Number of cases registered',
       'Dacoity (Section 395-398 IPC) - Value Of Property Stolen (in rupees)',
       'Robbery(Section 392-394, 397, 398 IPC) - Number of cases registered',
       'Robbery(Section 392-394, 397, 398 IPC) - Value Of Property Stolen (in rupees)',
       'Burglary(Section 449-452, 454, 455, 457-460 IPC) - Number of cases registered',
       'Burglary(Section 449-452, 454, 455, 457-460 IPC) - Value Of Property Stolen (in rupees)',
       'Theft (Section 379-382 IPC) - Number of cases registered',
       'Theft (Section 379-382 IPC) - Value Of Property Stolen (in rupees)']

In [326]:
crimes_by_place = Modified_df_8.groupby(['STATE/UT','Place Of Occurrence'])[columns].sum()
crimes_by_place

                                       Dacoity (Section 395-398 IPC) - Number of cases registered  \
STATE/UT    Place Of Occurrence
A&N Islands BANKS                                                                      0
            COMMERCIAL ESTABLISHMENTS                                                  0
            HIGH-WAY                                                                   0
            OTHER PLACES                                                              15
            RAILWAYS                                                                   0
...                                                                                  ...
West Bengal OTHER PLACES                                                            1034
            RAILWAYS                                                                  75
            RESIDENTIAL PREMISES                                                     886
            RIVER & SEA                                                                0
            RUNNING TRAINS                                                            66

                                       Dacoity (Section 395-398 IPC) - Value Of Property Stolen (in rupees)  \
STATE/UT    Place Of Occurrence
A&N Islands BANKS                                                                      0
            COMMERCIAL ESTABLISHMENTS                                                  0
            HIGH-WAY                                                                   0
            OTHER PLACES                                                         1751150
            RAILWAYS                                                                   0
...                                                                                  ...
West Bengal OTHER PLACES                                                       228580285
            RAILWAYS                                                             5460663
            RESIDENTIAL PREMISES                                               153181039
            RIVER & SEA                                                                0
            RUNNING TRAINS                                                       4775263

                                       Robbery(Section 392-394, 397, 398 IPC) - Number of cases registered  \
STATE/UT    Place Of Occurrence
A&N Islands BANKS                                                                      1
            COMMERCIAL ESTABLISHMENTS                                                  1
            HIGH-WAY                                                                   0
            OTHER PLACES                                                              64
            RAILWAYS                                                                   0
...                                                                                  ...
West Bengal OTHER PLACES                                                            4415
            RAILWAYS                                                                 229
            RESIDENTIAL PREMISES                                                    1036
            RIVER & SEA                                                               10
            RUNNING TRAINS                                                           194

                                       Robbery(Section 392-394, 397, 398 IPC) - Value Of Property Stolen (in rupees)  \
STATE/UT    Place Of Occurrence
A&N Islands BANKS                                                                   8000
            COMMERCIAL ESTABLISHMENTS                                              46000
            HIGH-WAY                                                                   0
            OTHER PLACES                                                         1276271
            RAILWAYS                                                                   0
...                                                                                  ...
West Bengal OTHER PLACES                                                       209916261
            RAILWAYS                                                             7068106
            RESIDENTIAL PREMISES                                                63140648
            RIVER & SEA                                                           300000
            RUNNING TRAINS                                                       5140307

                                       Burglary(Section 449-452, 454, 455, 457-460 IPC) - Number of cases registered  \
STATE/UT    Place Of Occurrence
A&N Islands BANKS                                                                      1
            COMMERCIAL ESTABLISHMENTS                                                110
            HIGH-WAY                                                                   0
            OTHER PLACES                                                             188
            RAILWAYS                                                                   0
...                                                                                  ...
West Bengal OTHER PLACES                                                            2048
            RAILWAYS                                                                   5
            RESIDENTIAL PREMISES                                                    2998
            RIVER & SEA                                                                0
            RUNNING TRAINS                                                             1

                                       Burglary(Section 449-452, 454, 455, 457-460 IPC) - Value Of Property Stolen (in rupees)  \
STATE/UT    Place Of Occurrence
A&N Islands BANKS                                                                     67
            COMMERCIAL ESTABLISHMENTS                                            8076009
            HIGH-WAY                                                                   0
            OTHER PLACES                                                         5420837
            RAILWAYS                                                                   0
...                                                                                  ...
West Bengal OTHER PLACES                                                        58546811
            RAILWAYS                                                              275600
            RESIDENTIAL PREMISES                                               150174601
            RIVER & SEA                                                                0
            RUNNING TRAINS                                                        200000

                                       Theft (Section 379-382 IPC) - Number of cases registered  \
STATE/UT    Place Of Occurrence
A&N Islands BANKS                                                                     20
            COMMERCIAL ESTABLISHMENTS                                                144
            HIGH-WAY                                                                   0
            OTHER PLACES                                                             668
            RAILWAYS                                                                   0
...                                                                                  ...
West Bengal OTHER PLACES                                                           95567
            RAILWAYS                                                                9352
            RESIDENTIAL PREMISES                                                   65111
            RIVER & SEA                                                                7
            RUNNING TRAINS                                                          6295

                                       Theft (Section 379-382 IPC) - Value Of Property Stolen (in rupees)
STATE/UT    Place Of Occurrence
A&N Islands BANKS                                                                1023500
            COMMERCIAL ESTABLISHMENTS                                            7972946
            HIGH-WAY                                                                   0
            OTHER PLACES                                                        23303016
            RAILWAYS                                                                   0
...                                                                                  ...
West Bengal OTHER PLACES                                                      5272425971
            RAILWAYS                                                           103643242
            RESIDENTIAL PREMISES                                              4219000113
            RIVER & SEA                                                           129512
            RUNNING TRAINS                                                      72772909

[280 rows x 8 columns]

In [327]:
crimes_by_place.head(8)

                                       Dacoity (Section 395-398 IPC) - Number of cases registered  \
STATE/UT    Place Of Occurrence
A&N Islands BANKS                                                                      0
            COMMERCIAL ESTABLISHMENTS                                                  0
            HIGH-WAY                                                                   0
            OTHER PLACES                                                              15
            RAILWAYS                                                                   0
            RESIDENTIAL PREMISES                                                       0
            RIVER & SEA                                                                0
            RUNNING TRAINS                                                             0

                                       Dacoity (Section 395-398 IPC) - Value Of Property Stolen (in rupees)  \
STATE/UT    Place Of Occurrence
A&N Islands BANKS                                                                      0
            COMMERCIAL ESTABLISHMENTS                                                  0
            HIGH-WAY                                                                   0
            OTHER PLACES                                                         1751150
            RAILWAYS                                                                   0
            RESIDENTIAL PREMISES                                                       0
            RIVER & SEA                                                                0
            RUNNING TRAINS                                                             0

                                       Robbery(Section 392-394, 397, 398 IPC) - Number of cases registered  \
STATE/UT    Place Of Occurrence
A&N Islands BANKS                                                                      1
            COMMERCIAL ESTABLISHMENTS                                                  1
            HIGH-WAY                                                                   0
            OTHER PLACES                                                              64
            RAILWAYS                                                                   0
            RESIDENTIAL PREMISES                                                       8
            RIVER & SEA                                                                0
            RUNNING TRAINS                                                             0

                                       Robbery(Section 392-394, 397, 398 IPC) - Value Of Property Stolen (in rupees)  \
STATE/UT    Place Of Occurrence
A&N Islands BANKS                                                                   8000
            COMMERCIAL ESTABLISHMENTS                                              46000
            HIGH-WAY                                                                   0
            OTHER PLACES                                                         1276271
            RAILWAYS                                                                   0
            RESIDENTIAL PREMISES                                                  262800
            RIVER & SEA                                                                0
            RUNNING TRAINS                                                             0

                                       Burglary(Section 449-452, 454, 455, 457-460 IPC) - Number of cases registered  \
STATE/UT    Place Of Occurrence
A&N Islands BANKS                                                                      1
            COMMERCIAL ESTABLISHMENTS                                                110
            HIGH-WAY                                                                   0
            OTHER PLACES                                                             188
            RAILWAYS                                                                   0
            RESIDENTIAL PREMISES                                                     592
            RIVER & SEA                                                                1
            RUNNING TRAINS                                                             0

                                       Burglary(Section 449-452, 454, 455, 457-460 IPC) - Value Of Property Stolen (in rupees)  \
STATE/UT    Place Of Occurrence
A&N Islands BANKS                                                                     67
            COMMERCIAL ESTABLISHMENTS                                            8076009
            HIGH-WAY                                                                   0
            OTHER PLACES                                                         5420837
            RAILWAYS                                                                   0
            RESIDENTIAL PREMISES                                                22532809
            RIVER & SEA                                                            77000
            RUNNING TRAINS                                                             0

                                       Theft (Section 379-382 IPC) - Number of cases registered  \
STATE/UT    Place Of Occurrence
A&N Islands BANKS                                                                     20
            COMMERCIAL ESTABLISHMENTS                                                144
            HIGH-WAY                                                                   0
            OTHER PLACES                                                             668
            RAILWAYS                                                                   0
            RESIDENTIAL PREMISES                                                     252
            RIVER & SEA                                                               40
            RUNNING TRAINS                                                             0

                                       Theft (Section 379-382 IPC) - Value Of Property Stolen (in rupees)
STATE/UT    Place Of Occurrence
A&N Islands BANKS                                                                1023500
            COMMERCIAL ESTABLISHMENTS                                            7972946
            HIGH-WAY                                                                   0
            OTHER PLACES                                                        23303016
            RAILWAYS                                                                   0
            RESIDENTIAL PREMISES                                                 8293804
            RIVER & SEA                                                          1014681
            RUNNING TRAINS                                                             0

In [328]:
list_of_state = ['A & N ISLANDS', 'ANDHRA PRADESH', 'ARUNACHAL PRADESH', 'ASSAM',
'BIHAR', 'CHANDIGARH', 'CHHATTISGARH', 'D & N HAVELI',
'DAMAN & DIU','DELHI', 'GOA', 'GUJARAT', 'HARYANA', 'HIMACHAL PRADESH',
'JAMMU & KASHMIR', 'JHARKHAND', 'KARNATAKA', 'KERALA',
'LAKSHADWEEP', 'MADHYA PRADESH', 'MAHARASHTRA', 'MANIPUR',
'MEGHALAYA', 'MIZORAM', 'NAGALAND', 'ODISHA', 'PUDUCHERRY',
'PUNJAB', 'RAJASTHAN', 'SIKKIM', 'TAMIL NADU', 'TRIPURA',
'UTTAR PRADESH', 'UTTARAKHAND', 'WEST BENGAL']

In [329]:
repeated_list_state = [place for place in list_of_state for _ in range(8)]

In [330]:
len(repeated_list_state)

280

In [331]:
list_of_places = ['BANKS', 'COMMERCIAL ESTABLISHMENTS', 'HIGH-WAY', 'OTHER PLACES', 'RAILWAYS', 'RESIDENTIAL PREMISES', 'RIVER & SEA', 'RUNNING TRAINS']
repeated_list_places = list_of_places * 35

In [332]:
len(repeated_list_places)

280

In [333]:
crimes_by_place = crimes_by_place.reset_index(drop = True)
crimes_by_place

,Dacoity (Section 395-398 IPC) - Number of cases registered,Dacoity (Section 395-398 IPC) - Value Of Property Stolen (in rupees),"Robbery(Section 392-394, 397, 398 IPC) - Number of cases registered","Robbery(Section 392-394, 397, 398 IPC) - Value Of Property Stolen (in rupees)","Burglary(Section 449-452, 454, 455, 457-460 IPC) - Number of cases registered","Burglary(Section 449-452, 454, 455, 457-460 IPC) - Value Of Property Stolen (in rupees)",Theft (Section 379-382 IPC) - Number of cases registered,Theft (Section 379-382 IPC) - Value Of Property Stolen (in rupees)
0,0,0,1,8000,1,67,20,1023500
1,0,0,1,46000,110,8076009,144,7972946
2,0,0,0,0,0,0,0,0
3,15,1751150,64,1276271,188,5420837,668,23303016
4,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
275,1034,228580285,4415,209916261,2048,58546811,95567,5272425971
276,75,5460663,229,7068106,5,275600,9352,103643242
277,886,153181039,1036,63140648,2998,150174601,65111,4219000113
278,0,0,10,300000,0,0,7,129512
279,66,4775263,194,5140307,1,200000,6295,72772909

In [334]:
crimes_by_place['places of occurrence'] = repeated_list_places
crimes_by_place['state'] = repeated_list_state

In [335]:
crimes_by_place

,Dacoity (Section 395-398 IPC) - Number of cases registered,Dacoity (Section 395-398 IPC) - Value Of Property Stolen (in rupees),"Robbery(Section 392-394, 397, 398 IPC) - Number of cases registered","Robbery(Section 392-394, 397, 398 IPC) - Value Of Property Stolen (in rupees)","Burglary(Section 449-452, 454, 455, 457-460 IPC) - Number of cases registered","Burglary(Section 449-452, 454, 455, 457-460 IPC) - Value Of Property Stolen (in rupees)",Theft (Section 379-382 IPC) - Number of cases registered,Theft (Section 379-382 IPC) - Value Of Property Stolen (in rupees),places of occurrence,state
0,0,0,1,8000,1,67,20,1023500,BANKS,A & N ISLANDS
1,0,0,1,46000,110,8076009,144,7972946,COMMERCIAL ESTABLISHMENTS,A & N ISLANDS
2,0,0,0,0,0,0,0,0,HIGH-WAY,A & N ISLANDS
3,15,1751150,64,1276271,188,5420837,668,23303016,OTHER PLACES,A & N ISLANDS
4,0,0,0,0,0,0,0,0,RAILWAYS,A & N ISLANDS
...,...,...,...,...,...,...,...,...,...,...
275,1034,228580285,4415,209916261,2048,58546811,95567,5272425971,OTHER PLACES,WEST BENGAL
276,75,5460663,229,7068106,5,275600,9352,103643242,RAILWAYS,WEST BENGAL
277,886,153181039,1036,63140648,2998,150174601,65111,4219000113,RESIDENTIAL PREMISES,WEST BENGAL
278,0,0,10,300000,0,0,7,129512,RIVER & SEA,WEST BENGAL
279,66,4775263,194,5140307,1,200000,6295,72772909,RUNNING TRAINS,WEST BENGAL

In [336]:
last_col_name = crimes_by_place.columns[-1]
secondlast_col_name = crimes_by_place.columns[-2]

In [337]:
new_df = [last_col_name] + [secondlast_col_name]+ list(crimes_by_place[:-2])

In [338]:
df = crimes_by_place[new_df]
df

,state,places of occurrence,Dacoity (Section 395-398 IPC) - Number of cases registered,Dacoity (Section 395-398 IPC) - Value Of Property Stolen (in rupees),"Robbery(Section 392-394, 397, 398 IPC) - Number of cases registered","Robbery(Section 392-394, 397, 398 IPC) - Value Of Property Stolen (in rupees)","Burglary(Section 449-452, 454, 455, 457-460 IPC) - Number of cases registered","Burglary(Section 449-452, 454, 455, 457-460 IPC) - Value Of Property Stolen (in rupees)",Theft (Section 379-382 IPC) - Number of cases registered,Theft (Section 379-382 IPC) - Value Of Property Stolen (in rupees),places of occurrence,state
0,A & N ISLANDS,BANKS,0,0,1,8000,1,67,20,1023500,BANKS,A & N ISLANDS
1,A & N ISLANDS,COMMERCIAL ESTABLISHMENTS,0,0,1,46000,110,8076009,144,7972946,COMMERCIAL ESTABLISHMENTS,A & N ISLANDS
2,A & N ISLANDS,HIGH-WAY,0,0,0,0,0,0,0,0,HIGH-WAY,A & N ISLANDS
3,A & N ISLANDS,OTHER PLACES,15,1751150,64,1276271,188,5420837,668,23303016,OTHER PLACES,A & N ISLANDS
4,A & N ISLANDS,RAILWAYS,0,0,0,0,0,0,0,0,RAILWAYS,A & N ISLANDS
...,...,...,...,...,...,...,...,...,...,...,...,...
275,WEST BENGAL,OTHER PLACES,1034,228580285,4415,209916261,2048,58546811,95567,5272425971,OTHER PLACES,WEST BENGAL
276,WEST BENGAL,RAILWAYS,75,5460663,229,7068106,5,275600,9352,103643242,RAILWAYS,WEST BENGAL
277,WEST BENGAL,RESIDENTIAL PREMISES,886,153181039,1036,63140648,2998,150174601,65111,4219000113,RESIDENTIAL PREMISES,WEST BENGAL
278,WEST BENGAL,RIVER & SEA,0,0,10,300000,0,0,7,129512,RIVER & SEA,WEST BENGAL
279,WEST BENGAL,RUNNING TRAINS,66,4775263,194,5140307,1,200000,6295,72772909,RUNNING TRAINS,WEST BENGAL

In [339]:
df = df.iloc[:, :-2]
df

,state,places of occurrence,Dacoity (Section 395-398 IPC) - Number of cases registered,Dacoity (Section 395-398 IPC) - Value Of Property Stolen (in rupees),"Robbery(Section 392-394, 397, 398 IPC) - Number of cases registered","Robbery(Section 392-394, 397, 398 IPC) - Value Of Property Stolen (in rupees)","Burglary(Section 449-452, 454, 455, 457-460 IPC) - Number of cases registered","Burglary(Section 449-452, 454, 455, 457-460 IPC) - Value Of Property Stolen (in rupees)",Theft (Section 379-382 IPC) - Number of cases registered,Theft (Section 379-382 IPC) - Value Of Property Stolen (in rupees)
0,A & N ISLANDS,BANKS,0,0,1,8000,1,67,20,1023500
1,A & N ISLANDS,COMMERCIAL ESTABLISHMENTS,0,0,1,46000,110,8076009,144,7972946
2,A & N ISLANDS,HIGH-WAY,0,0,0,0,0,0,0,0
3,A & N ISLANDS,OTHER PLACES,15,1751150,64,1276271,188,5420837,668,23303016
4,A & N ISLANDS,RAILWAYS,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
275,WEST BENGAL,OTHER PLACES,1034,228580285,4415,209916261,2048,58546811,95567,5272425971
276,WEST BENGAL,RAILWAYS,75,5460663,229,7068106,5,275600,9352,103643242
277,WEST BENGAL,RESIDENTIAL PREMISES,886,153181039,1036,63140648,2998,150174601,65111,4219000113
278,WEST BENGAL,RIVER & SEA,0,0,10,300000,0,0,7,129512
279,WEST BENGAL,RUNNING TRAINS,66,4775263,194,5140307,1,200000,6295,72772909

# Importing Models :

In [340]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import OneHotEncoder , StandardScaler
from sklearn.compose import  ColumnTransformer

In [341]:
scaler = StandardScaler()
ohe = OneHotEncoder()
preprocessor = ColumnTransformer(
transformers = [
    ('onehotencoder', ohe ,[0, 1] ),
#    ('standardscaler', scaler ,[0,1,2,3,4,5,6,7])
],
remainder = 'passthrough'
)

In [342]:
# from sklearn.cluster  import KMeans
km = KMeans(n_clusters = 3 , init = 'k-means++',n_init = 100, max_iter = 300, random_state = 0) 
x = preprocessor.fit_transform(df)
labels = km.fit_predict(x)
labels

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 2, 0, 2, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2,
       0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 2, 0, 2, 0, 0, 0, 2, 0, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 0, 2, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 2, 0, 2, 0, 0])

In [343]:
len(labels)

280

In [344]:
print(np.where(labels==0))

(array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  12,  14,
        15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,  27,
        28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,  40,
        41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,  53,
        54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,  66,
        67,  68,  69,  70,  71,  72,  73,  74,  76,  78,  79,  80,  81,
        82,  83,  84,  85,  86,  87,  88,  89,  90,  92,  94,  95,  96,
        97,  98, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110,
       111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123,
       124, 125, 126, 127, 128, 129, 130, 132, 134, 135, 136, 137, 138,
       139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151,
       152, 153, 154, 156, 158, 159, 160, 162, 164, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 228, 229, 230, 231, 232, 233, 234, 235,
       236, 237, 238, 239, 240, 241, 242, 244, 245, 246, 247, 248, 249,
       250, 251, 252, 253, 254, 255, 256, 257, 260, 262, 263, 264, 265,
       266, 267, 268, 269, 270, 271, 272, 274, 276, 278, 279], dtype=int64),)

In [345]:
print(np.where(labels==1))

(array([163], dtype=int64),)

In [346]:
print(np.where(labels==2))

(array([ 11,  13,  75,  77,  91,  93,  99, 131, 133, 155, 157, 161, 165,
       227, 243, 258, 259, 261, 273, 275, 277], dtype=int64),)

In [347]:
crimes_by_place.iloc[257]

Dacoity (Section 395-398 IPC) - Number of cases registered                                                       130
Dacoity (Section 395-398 IPC) - Value Of Property Stolen (in rupees)                                        51866693
Robbery(Section 392-394, 397, 398 IPC) - Number of cases registered                                              312
Robbery(Section 392-394, 397, 398 IPC) - Value Of Property Stolen (in rupees)                               26130349
Burglary(Section 449-452, 454, 455, 457-460 IPC) - Number of cases registered                                   3974
Burglary(Section 449-452, 454, 455, 457-460 IPC) - Value Of Property Stolen (in rupees)                    152855981
Theft (Section 379-382 IPC) - Number of cases registered                                                       10103
Theft (Section 379-382 IPC) - Value Of Property Stolen (in rupees)                                         364646834
places of occurrence                                                                       COMMERCIAL ESTABLISHMENTS
state                                                                                                  UTTAR PRADESH
Name: 257, dtype: object

In [348]:
crimes_by_place.iloc[163]

Dacoity (Section 395-398 IPC) - Number of cases registered                                         4530
Dacoity (Section 395-398 IPC) - Value Of Property Stolen (in rupees)                          811490680
Robbery(Section 392-394, 397, 398 IPC) - Number of cases registered                               26581
Robbery(Section 392-394, 397, 398 IPC) - Value Of Property Stolen (in rupees)                2013958985
Burglary(Section 449-452, 454, 455, 457-460 IPC) - Number of cases registered                     33483
Burglary(Section 449-452, 454, 455, 457-460 IPC) - Value Of Property Stolen (in rupees)      1725121071
Theft (Section 379-382 IPC) - Number of cases registered                                         368305
Theft (Section 379-382 IPC) - Value Of Property Stolen (in rupees)                          23281947305
places of occurrence                                                                       OTHER PLACES
state                                                                                       MAHARASHTRA
Name: 163, dtype: object

In [349]:
crimes_by_place.iloc[11]

Dacoity (Section 395-398 IPC) - Number of cases registered                                            544
Dacoity (Section 395-398 IPC) - Value Of Property Stolen (in rupees)                            125721415
Robbery(Section 392-394, 397, 398 IPC) - Number of cases registered                                  3037
Robbery(Section 392-394, 397, 398 IPC) - Value Of Property Stolen (in rupees)                   159986725
Burglary(Section 449-452, 454, 455, 457-460 IPC) - Number of cases registered                       14226
Burglary(Section 449-452, 454, 455, 457-460 IPC) - Value Of Property Stolen (in rupees)         582701182
Theft (Section 379-382 IPC) - Number of cases registered                                           141625
Theft (Section 379-382 IPC) - Value Of Property Stolen (in rupees)                             3792319889
places of occurrence                                                                         OTHER PLACES
state                                                                                      ANDHRA PRADESH
Name: 11, dtype: object

In [350]:
area_labels = {0: "Peaceful Area", 1: "Sensitive Area", 2: "Moderate Area"}

# Replace values in the array using the dictionary
data_replaced = np.vectorize(lambda x: area_labels.get(x))(labels)

In [351]:
data_replaced

array(['Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Moderate Area',
       'Peaceful Area', 'Moderate Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Moderate Area',
       'Peaceful Area', 'Moderate Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Moderate Area',
       'Peaceful Area', 'Moderate Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Moderate Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Moderate Area',
       'Peaceful Area', 'Moderate Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Moderate Area',
       'Peaceful Area', 'Moderate Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Moderate Area', 'Peaceful Area',
       'Sensitive Area', 'Peaceful Area', 'Moderate Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Moderate Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Moderate Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Moderate Area', 'Moderate Area', 'Peaceful Area', 'Moderate Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Peaceful Area',
       'Peaceful Area', 'Peaceful Area', 'Peaceful Area', 'Moderate Area',
       'Peaceful Area', 'Moderate Area', 'Peaceful Area', 'Moderate Area',
       'Peaceful Area', 'Peaceful Area'], dtype='<U14')

In [352]:
df['Area type'] = data_replaced
df

,state,places of occurrence,Dacoity (Section 395-398 IPC) - Number of cases registered,Dacoity (Section 395-398 IPC) - Value Of Property Stolen (in rupees),"Robbery(Section 392-394, 397, 398 IPC) - Number of cases registered","Robbery(Section 392-394, 397, 398 IPC) - Value Of Property Stolen (in rupees)","Burglary(Section 449-452, 454, 455, 457-460 IPC) - Number of cases registered","Burglary(Section 449-452, 454, 455, 457-460 IPC) - Value Of Property Stolen (in rupees)",Theft (Section 379-382 IPC) - Number of cases registered,Theft (Section 379-382 IPC) - Value Of Property Stolen (in rupees),Area type
0,A & N ISLANDS,BANKS,0,0,1,8000,1,67,20,1023500,Peaceful Area
1,A & N ISLANDS,COMMERCIAL ESTABLISHMENTS,0,0,1,46000,110,8076009,144,7972946,Peaceful Area
2,A & N ISLANDS,HIGH-WAY,0,0,0,0,0,0,0,0,Peaceful Area
3,A & N ISLANDS,OTHER PLACES,15,1751150,64,1276271,188,5420837,668,23303016,Peaceful Area
4,A & N ISLANDS,RAILWAYS,0,0,0,0,0,0,0,0,Peaceful Area
...,...,...,...,...,...,...,...,...,...,...,...
275,WEST BENGAL,OTHER PLACES,1034,228580285,4415,209916261,2048,58546811,95567,5272425971,Moderate Area
276,WEST BENGAL,RAILWAYS,75,5460663,229,7068106,5,275600,9352,103643242,Peaceful Area
277,WEST BENGAL,RESIDENTIAL PREMISES,886,153181039,1036,63140648,2998,150174601,65111,4219000113,Moderate Area
278,WEST BENGAL,RIVER & SEA,0,0,10,300000,0,0,7,129512,Peaceful Area
279,WEST BENGAL,RUNNING TRAINS,66,4775263,194,5140307,1,200000,6295,72772909,Peaceful Area

In [353]:
filename = 'Crimes_by_places_in_each_state_2001_2012.csv'
df.to_csv(filename , index = False)

# Crime_by_place_of_occurrence_2001_2012

In [354]:
df_9

,STATE/UT,YEAR,RESIDENTIAL PREMISES - Dacoity,RESIDENTIAL PREMISES - Robbery,RESIDENTIAL PREMISES - Burglary,RESIDENTIAL PREMISES - Theft,HIGHWAYS - Dacoity,HIGHWAYS - Robbery,HIGHWAYS - Burglary,HIGHWAYS - Theft,...,COMMERCIAL ESTABLISHMENTS - Burglary,COMMERCIAL ESTABLISHMENTS - Theft,OTHER PLACES - Dacoity,OTHER PLACES - Robbery,OTHER PLACES - Burglary,OTHER PLACES - Theft,TOTAL - Dacoity,TOTAL - Robbery,TOTAL - Burglary,TOTAL - Theft
0,ANDHRA PRADESH,2001,100,177,5158,4257,57,172,31,74,...,1041,2502,37,232,862,8849,214,629,7220,16751
1,ARUNACHAL PRADESH,2001,9,26,99,131,0,0,0,8,...,84,54,8,40,65,249,22,84,248,443
2,ASSAM,2001,381,191,1695,2901,46,136,7,87,...,442,967,77,261,271,1342,532,687,2423,5367
3,BIHAR,2001,818,326,2486,4741,162,826,0,257,...,231,686,210,880,505,2582,1291,2203,3233,9701
4,CHHATTISGARH,2001,54,42,3336,1417,10,38,12,72,...,370,299,15,239,420,2835,87,338,4144,4812
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451,DELHI,2012,10,101,1249,7076,1,32,0,189,...,285,1370,17,431,178,12749,28,608,1715,22032
452,LAKSHADWEEP,2012,0,0,3,7,0,0,0,0,...,0,0,0,0,0,0,0,0,3,7
453,PUDUCHERRY,2012,1,4,47,42,0,0,0,0,...,26,20,2,8,4,596,5,16,77,658
454,TOTAL (UTs),2012,11,123,1515,7974,1,32,0,199,...,412,2042,28,468,217,13554,44,694,2149,24440
455,TOTAL (ALL-INDIA),2012,1288,2821,60698,81861,838,5000,316,27802,...,12228,29661,1797,17480,19154,181277,4314,27343,92892,337407

In [355]:
df_9.columns

Index(['STATE/UT', 'YEAR', 'RESIDENTIAL PREMISES - Dacoity',
       'RESIDENTIAL PREMISES - Robbery', 'RESIDENTIAL PREMISES - Burglary',
       'RESIDENTIAL PREMISES - Theft', 'HIGHWAYS - Dacoity',
       'HIGHWAYS - Robbery', 'HIGHWAYS - Burglary', 'HIGHWAYS - Theft',
       'RIVER and SEA - Dacoity', 'RIVER and SEA - Robbery',
       'RIVER and SEA - Burglary', 'RIVER and SEA - Theft',
       'RAILWAYS - Dacoity', 'RAILWAYS - Robbery', 'RAILWAYS - Burglary',
       'RAILWAYS - Theft', 'BANKS - Dacoity', 'BANKS - Robbery',
       'BANKS - Burglary', 'BANKS - Theft',
       'COMMERCIAL ESTABLISHMENTS - Dacoity',
       'COMMERCIAL ESTABLISHMENTS - Robbery',
       'COMMERCIAL ESTABLISHMENTS - Burglary',
       'COMMERCIAL ESTABLISHMENTS - Theft', 'OTHER PLACES - Dacoity',
       'OTHER PLACES - Robbery', 'OTHER PLACES - Burglary',
       'OTHER PLACES - Theft', 'TOTAL - Dacoity', 'TOTAL - Robbery',
       'TOTAL - Burglary', 'TOTAL - Theft'],
      dtype='object')

In [356]:
df_9 = df_9.sort_values(by = ['STATE/UT'])
df_9

,STATE/UT,YEAR,RESIDENTIAL PREMISES - Dacoity,RESIDENTIAL PREMISES - Robbery,RESIDENTIAL PREMISES - Burglary,RESIDENTIAL PREMISES - Theft,HIGHWAYS - Dacoity,HIGHWAYS - Robbery,HIGHWAYS - Burglary,HIGHWAYS - Theft,...,COMMERCIAL ESTABLISHMENTS - Burglary,COMMERCIAL ESTABLISHMENTS - Theft,OTHER PLACES - Dacoity,OTHER PLACES - Robbery,OTHER PLACES - Burglary,OTHER PLACES - Theft,TOTAL - Dacoity,TOTAL - Robbery,TOTAL - Burglary,TOTAL - Theft
256,A & N ISLANDS,2007,0,0,59,22,0,0,0,0,...,10,31,5,9,21,58,5,9,90,112
66,A & N ISLANDS,2002,0,0,44,16,0,0,0,0,...,5,0,1,7,0,30,1,7,49,49
104,A & N ISLANDS,2003,0,0,36,14,0,0,0,0,...,10,2,2,7,10,41,2,7,56,60
142,A & N ISLANDS,2004,0,1,47,20,0,0,0,0,...,15,9,0,1,5,68,0,3,69,103
180,A & N ISLANDS,2005,0,1,68,20,0,0,0,0,...,0,31,0,3,0,41,0,4,68,92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,WEST BENGAL,2007,51,55,214,3372,8,44,0,48,...,21,1379,55,267,161,8206,146,427,399,13747
102,WEST BENGAL,2003,70,90,214,5890,15,44,0,19,...,32,1598,97,403,96,4697,217,598,342,12613
64,WEST BENGAL,2002,55,64,199,4613,21,40,0,7,...,47,1339,95,351,100,5958,204,544,348,12449
140,WEST BENGAL,2004,84,102,341,7044,26,55,0,65,...,31,865,54,286,175,6097,212,535,547,14465
369,WEST BENGAL,2010,110,90,253,6214,34,171,2,114,...,32,1649,108,466,101,10351,288,798,388,19389

In [357]:
df_9['STATE/UT'].value_counts()

DAMAN & DIU          13
A & N ISLANDS        12
RAJASTHAN            12
MANIPUR              12
MEGHALAYA            12
MIZORAM              12
NAGALAND             12
ODISHA               12
PUDUCHERRY           12
PUNJAB               12
SIKKIM               12
ANDHRA PRADESH       12
TAMIL NADU           12
TOTAL (ALL-INDIA)    12
TOTAL (STATES)       12
TOTAL (UTs)          12
UTTAR PRADESH        12
UTTARAKHAND          12
MAHARASHTRA          12
MADHYA PRADESH       12
LAKSHADWEEP          12
KERALA               12
ARUNACHAL PRADESH    12
ASSAM                12
BIHAR                12
CHANDIGARH           12
CHHATTISGARH         12
D & N HAVELI         12
DELHI                12
GOA                  12
GUJARAT              12
HARYANA              12
HIMACHAL PRADESH     12
JAMMU & KASHMIR      12
JHARKHAND            12
KARNATAKA            12
WEST BENGAL          12
TRIPURA              11
Name: STATE/UT, dtype: int64

In [358]:
unwanted_values = ["TOTAL (ALL-INDIA)", "TOTAL (STATES)", "TOTAL (UTs)"]
df_9 = df_9[~df_9['STATE/UT'].isin(unwanted_values)]

In [359]:
df_9['STATE/UT'].value_counts()

DAMAN & DIU          13
PUDUCHERRY           12
MAHARASHTRA          12
MANIPUR              12
MEGHALAYA            12
MIZORAM              12
NAGALAND             12
ODISHA               12
A & N ISLANDS        12
LAKSHADWEEP          12
PUNJAB               12
RAJASTHAN            12
SIKKIM               12
TAMIL NADU           12
UTTAR PRADESH        12
UTTARAKHAND          12
MADHYA PRADESH       12
KERALA               12
ANDHRA PRADESH       12
KARNATAKA            12
ARUNACHAL PRADESH    12
ASSAM                12
BIHAR                12
CHANDIGARH           12
CHHATTISGARH         12
D & N HAVELI         12
DELHI                12
GOA                  12
GUJARAT              12
HARYANA              12
HIMACHAL PRADESH     12
JAMMU & KASHMIR      12
JHARKHAND            12
WEST BENGAL          12
TRIPURA              11
Name: STATE/UT, dtype: int64

In [360]:
exclude_cols = ['STATE/UT', 'YEAR']

# Select crime columns (all columns except those to exclude)
crime_cols = [col for col in df_9.columns if col not in exclude_cols]
crime_cols

['RESIDENTIAL PREMISES - Dacoity',
 'RESIDENTIAL PREMISES - Robbery',
 'RESIDENTIAL PREMISES - Burglary',
 'RESIDENTIAL PREMISES - Theft',
 'HIGHWAYS - Dacoity',
 'HIGHWAYS - Robbery',
 'HIGHWAYS - Burglary',
 'HIGHWAYS - Theft',
 'RIVER and SEA - Dacoity',
 'RIVER and SEA - Robbery',
 'RIVER and SEA - Burglary',
 'RIVER and SEA - Theft',
 'RAILWAYS - Dacoity',
 'RAILWAYS - Robbery',
 'RAILWAYS - Burglary',
 'RAILWAYS - Theft',
 'BANKS - Dacoity',
 'BANKS - Robbery',
 'BANKS - Burglary',
 'BANKS - Theft',
 'COMMERCIAL ESTABLISHMENTS - Dacoity',
 'COMMERCIAL ESTABLISHMENTS - Robbery',
 'COMMERCIAL ESTABLISHMENTS - Burglary',
 'COMMERCIAL ESTABLISHMENTS - Theft',
 'OTHER PLACES - Dacoity',
 'OTHER PLACES - Robbery',
 'OTHER PLACES - Burglary',
 'OTHER PLACES - Theft',
 'TOTAL - Dacoity',
 'TOTAL - Robbery',
 'TOTAL - Burglary',
 'TOTAL - Theft']

In [361]:
crime_by_place_of_occurance = df_9.groupby('STATE/UT')[crime_cols].sum()
crime_by_place_of_occurance

,RESIDENTIAL PREMISES - Dacoity,RESIDENTIAL PREMISES - Robbery,RESIDENTIAL PREMISES - Burglary,RESIDENTIAL PREMISES - Theft,HIGHWAYS - Dacoity,HIGHWAYS - Robbery,HIGHWAYS - Burglary,HIGHWAYS - Theft,RIVER and SEA - Dacoity,RIVER and SEA - Robbery,...,COMMERCIAL ESTABLISHMENTS - Burglary,COMMERCIAL ESTABLISHMENTS - Theft,OTHER PLACES - Dacoity,OTHER PLACES - Robbery,OTHER PLACES - Burglary,OTHER PLACES - Theft,TOTAL - Dacoity,TOTAL - Robbery,TOTAL - Burglary,TOTAL - Theft
STATE/UT,,,,,,,,,,,,,,,,,,,,,
A & N ISLANDS,0,8,592,252,0,0,0,0,0,0,...,110,144,15,64,188,668,15,74,892,1124
ANDHRA PRADESH,845,2612,70059,97567,471,1486,504,3544,3,21,...,12032,30960,544,3037,14226,141625,1987,7605,97336,287190
ARUNACHAL PRADESH,119,321,1349,2243,19,69,9,128,0,1,...,654,758,92,288,767,2045,260,843,2780,5178
ASSAM,2612,2357,18375,37042,420,991,515,1833,19,14,...,5545,11229,782,3129,10104,33996,4170,7467,34752,85475
BIHAR,6606,2823,30745,63752,1934,11913,267,4665,4,26,...,2711,14233,1492,7351,6409,55678,11099,23666,40293,153372
CHANDIGARH,3,46,1808,6898,0,0,0,0,0,0,...,946,4303,17,295,178,7265,31,397,2947,18474
CHHATTISGARH,636,619,35246,16201,122,706,321,731,4,2,...,3459,4792,551,3510,5493,37843,1468,5113,44656,62873
D & N HAVELI,17,10,171,292,1,6,0,11,0,0,...,143,203,12,11,70,245,40,30,388,773
DAMAN & DIU,4,2,222,52,0,0,0,1,1,0,...,226,89,17,19,50,456,36,27,525,613
DELHI,145,1092,16149,56767,17,371,0,1128,0,0,...,3887,16116,144,4452,3496,147093,381,6461,23555,231546
GOA,24,58,1987,1182,7,40,0,88,0,3,...,1012,793,17,162,646,5825,55,298,3700,8045
GUJARAT,1166,2245,36635,46649,528,1039,70,1470,8,16,...,10782,25015,1621,9578,12902,131614,3842,14383,60689,213207
HARYANA,225,716,31165,32329,349,1088,282,3960,1,6,...,9135,20822,669,3377,5557,69770,1375,5871,46504,131394
HIMACHAL PRADESH,6,30,4565,1155,6,33,0,348,0,0,...,2101,874,24,147,2843,7229,45,236,9689,9658
JAMMU & KASHMIR,88,378,9054,6024,3,23,40,291,0,0,...,3653,2874,78,781,4178,15801,188,1312,17050,25767
JHARKHAND,2757,2124,14014,32328,1971,4105,47,3131,0,8,...,1148,9924,740,1708,1397,22572,5906,8711,16680,71322
KARNATAKA,710,3098,47568,50098,317,734,401,1809,2,3,...,12051,21616,1356,12346,12650,120166,2581,17287,73298,199960
KERALA,282,1907,25373,17123,134,365,104,1067,4,1,...,8288,4533,759,5467,12314,37218,1364,8329,46371,62353
LAKSHADWEEP,2,0,18,50,0,0,0,0,0,0,...,6,31,1,0,11,30,3,0,36,113
MADHYA PRADESH,572,2819,100474,92834,249,2909,205,6662,3,40,...,14999,25211,683,15345,21316,119995,1655,22314,137346,263860
MAHARASHTRA,1860,4221,117344,102193,933,3570,185,5043,12,14,...,33323,42434,4530,26581,33483,368305,8175,37719,185617,556807
MANIPUR,5,10,235,1043,26,28,7,362,0,0,...,341,813,17,44,171,2605,48,83,755,4834
MEGHALAYA,208,189,1030,2031,265,306,11,194,0,0,...,212,648,264,398,630,3129,798,972,1888,6004
MIZORAM,10,24,2701,4518,13,46,126,170,7,3,...,887,1935,13,41,1032,3160,45,114,4748,9803
NAGALAND,31,248,530,1601,52,337,11,242,0,0,...,249,704,31,335,353,1209,125,1042,1146,3802
ODISHA,1067,2366,22199,22640,735,4403,179,1429,0,4,...,5843,7925,1078,6018,7930,44309,3381,14705,36505,82837
PUDUCHERRY,10,18,655,939,0,0,0,0,0,0,...,280,445,22,61,129,5981,38,89,1064,7366
PUNJAB,107,314,14348,13421,34,163,22,1753,0,0,...,6388,7446,250,1058,6508,27169,460,1828,27621,50503
RAJASTHAN,83,272,38747,32628,136,769,0,1452,0,0,...,15034,12556,279,7723,11200,180296,563,9071,65268,232974
SIKKIM,3,22,607,501,1,3,0,33,0,0,...,99,88,2,33,159,388,6,64,877,1019
TAMIL NADU,414,2752,35562,46398,216,920,37,4304,2,12,...,6278,26134,505,6572,11207,105059,1237,11272,53339,185160
TRIPURA,128,342,1360,2200,6,20,0,21,0,0,...,371,790,47,255,443,1246,197,721,2212,4353
UTTAR PRADESH,1864,2725,45917,55119,849,13737,79,109154,2,6,...,3974,10103,1764,13198,15558,113992,4809,30767,65587,312047
UTTARAKHAND,166,304,3533,6536,53,726,10,442,0,0,...,883,1647,107,902,1132,10947,357,1990,5578,20035
WEST BENGAL,886,1036,2998,65111,274,921,7,1032,0,10,...,425,19296,1034,4415,2048,95567,2642,7354,5500,190468

# Importing Models  :

In [362]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import  StandardScaler
from sklearn.compose import  ColumnTransformer

In [363]:
scaler = StandardScaler()
preprocessor = ColumnTransformer(
transformers = [
    ('standardscaler', scaler ,[col for col in crime_by_place_of_occurance.columns])
],
remainder = 'passthrough'
)

In [364]:
from sklearn.cluster  import AgglomerativeClustering
ac = AgglomerativeClustering(n_clusters = 3 , affinity = 'euclidean', linkage = 'complete') 
x = preprocessor_new.fit_transform(crime_by_place_of_occurance)
labels_new = ac.fit_predict(x)
labels_new

C:\Users\admin\anaconda3\Lib\site-packages\sklearn\cluster\_agglomerative.py:1005: FutureWarning: Attribute `affinity` was deprecated in version 1.2 and will be removed in 1.4. Use `metric` instead
  warnings.warn(

array([2, 0, 2, 2, 0, 2, 2, 2, 2, 0, 2, 0, 0, 2, 2, 2, 0, 2, 2, 0, 1, 2,
       2, 2, 2, 2, 2, 2, 0, 2, 0, 2, 0, 2, 0], dtype=int64)

In [365]:
print(np.where(labels_new==0))
print()
print(np.where(labels_new==1))
print()
print(np.where(labels_new==2))

(array([ 1,  4,  9, 11, 12, 16, 19, 28, 30, 32, 34], dtype=int64),)

(array([20], dtype=int64),)

(array([ 0,  2,  3,  5,  6,  7,  8, 10, 13, 14, 15, 17, 18, 21, 22, 23, 24,
       25, 26, 27, 29, 31, 33], dtype=int64),)

In [366]:
crime_by_place_of_occurance.iloc[0]

RESIDENTIAL PREMISES - Dacoity             0
RESIDENTIAL PREMISES - Robbery             8
RESIDENTIAL PREMISES - Burglary          592
RESIDENTIAL PREMISES - Theft             252
HIGHWAYS - Dacoity                         0
HIGHWAYS - Robbery                         0
HIGHWAYS - Burglary                        0
HIGHWAYS - Theft                           0
RIVER and SEA - Dacoity                    0
RIVER and SEA - Robbery                    0
RIVER and SEA - Burglary                   1
RIVER and SEA - Theft                     40
RAILWAYS - Dacoity                         0
RAILWAYS - Robbery                         0
RAILWAYS - Burglary                        0
RAILWAYS - Theft                           0
BANKS - Dacoity                            0
BANKS - Robbery                            1
BANKS - Burglary                           1
BANKS - Theft                             20
COMMERCIAL ESTABLISHMENTS - Dacoity        0
COMMERCIAL ESTABLISHMENTS - Robbery        1
COMMERCIAL ESTABLISHMENTS - Burglary     110
COMMERCIAL ESTABLISHMENTS - Theft        144
OTHER PLACES - Dacoity                    15
OTHER PLACES - Robbery                    64
OTHER PLACES - Burglary                  188
OTHER PLACES - Theft                     668
TOTAL - Dacoity                           15
TOTAL - Robbery                           74
TOTAL - Burglary                         892
TOTAL - Theft                           1124
Name: A & N ISLANDS, dtype: int64

In [367]:
crime_by_place_of_occurance.iloc[20]

RESIDENTIAL PREMISES - Dacoity            1860
RESIDENTIAL PREMISES - Robbery            4221
RESIDENTIAL PREMISES - Burglary         117344
RESIDENTIAL PREMISES - Theft            102193
HIGHWAYS - Dacoity                         933
HIGHWAYS - Robbery                        3570
HIGHWAYS - Burglary                        185
HIGHWAYS - Theft                          5043
RIVER and SEA - Dacoity                     12
RIVER and SEA - Robbery                     14
RIVER and SEA - Burglary                     4
RIVER and SEA - Theft                      633
RAILWAYS - Dacoity                         149
RAILWAYS - Robbery                        1251
RAILWAYS - Burglary                        125
RAILWAYS - Theft                         36957
BANKS - Dacoity                             50
BANKS - Robbery                            125
BANKS - Burglary                          1153
BANKS - Theft                             1242
COMMERCIAL ESTABLISHMENTS - Dacoity        641
COMMERCIAL ESTABLISHMENTS - Robbery       1957
COMMERCIAL ESTABLISHMENTS - Burglary     33323
COMMERCIAL ESTABLISHMENTS - Theft        42434
OTHER PLACES - Dacoity                    4530
OTHER PLACES - Robbery                   26581
OTHER PLACES - Burglary                  33483
OTHER PLACES - Theft                    368305
TOTAL - Dacoity                           8175
TOTAL - Robbery                          37719
TOTAL - Burglary                        185617
TOTAL - Theft                           556807
Name: MAHARASHTRA, dtype: int64

In [368]:
crime_by_place_of_occurance.iloc[9]

RESIDENTIAL PREMISES - Dacoity             145
RESIDENTIAL PREMISES - Robbery            1092
RESIDENTIAL PREMISES - Burglary          16149
RESIDENTIAL PREMISES - Theft             56767
HIGHWAYS - Dacoity                          17
HIGHWAYS - Robbery                         371
HIGHWAYS - Burglary                          0
HIGHWAYS - Theft                          1128
RIVER and SEA - Dacoity                      0
RIVER and SEA - Robbery                      0
RIVER and SEA - Burglary                     0
RIVER and SEA - Theft                        0
RAILWAYS - Dacoity                           9
RAILWAYS - Robbery                          90
RAILWAYS - Burglary                          9
RAILWAYS - Theft                         10304
BANKS - Dacoity                              3
BANKS - Robbery                              3
BANKS - Burglary                            14
BANKS - Theft                              138
COMMERCIAL ESTABLISHMENTS - Dacoity         63
COMMERCIAL ESTABLISHMENTS - Robbery        453
COMMERCIAL ESTABLISHMENTS - Burglary      3887
COMMERCIAL ESTABLISHMENTS - Theft        16116
OTHER PLACES - Dacoity                     144
OTHER PLACES - Robbery                    4452
OTHER PLACES - Burglary                   3496
OTHER PLACES - Theft                    147093
TOTAL - Dacoity                            381
TOTAL - Robbery                           6461
TOTAL - Burglary                         23555
TOTAL - Theft                           231546
Name: DELHI, dtype: int64

In [369]:
area_labels = {0: "Moderate Area", 1: "Sensitive Area", 2: "Peaceful Area"}

# Replace values in the array using the dictionary
data_replaced = np.vectorize(lambda x: area_labels.get(x))(labels_new)

In [370]:
crime_by_place_of_occurance['Area type'] = data_replaced

In [371]:
crime_by_place_of_occurance

,RESIDENTIAL PREMISES - Dacoity,RESIDENTIAL PREMISES - Robbery,RESIDENTIAL PREMISES - Burglary,RESIDENTIAL PREMISES - Theft,HIGHWAYS - Dacoity,HIGHWAYS - Robbery,HIGHWAYS - Burglary,HIGHWAYS - Theft,RIVER and SEA - Dacoity,RIVER and SEA - Robbery,...,COMMERCIAL ESTABLISHMENTS - Theft,OTHER PLACES - Dacoity,OTHER PLACES - Robbery,OTHER PLACES - Burglary,OTHER PLACES - Theft,TOTAL - Dacoity,TOTAL - Robbery,TOTAL - Burglary,TOTAL - Theft,Area type
STATE/UT,,,,,,,,,,,,,,,,,,,,,
A & N ISLANDS,0,8,592,252,0,0,0,0,0,0,...,144,15,64,188,668,15,74,892,1124,Peaceful Area
ANDHRA PRADESH,845,2612,70059,97567,471,1486,504,3544,3,21,...,30960,544,3037,14226,141625,1987,7605,97336,287190,Moderate Area
ARUNACHAL PRADESH,119,321,1349,2243,19,69,9,128,0,1,...,758,92,288,767,2045,260,843,2780,5178,Peaceful Area
ASSAM,2612,2357,18375,37042,420,991,515,1833,19,14,...,11229,782,3129,10104,33996,4170,7467,34752,85475,Peaceful Area
BIHAR,6606,2823,30745,63752,1934,11913,267,4665,4,26,...,14233,1492,7351,6409,55678,11099,23666,40293,153372,Moderate Area
CHANDIGARH,3,46,1808,6898,0,0,0,0,0,0,...,4303,17,295,178,7265,31,397,2947,18474,Peaceful Area
CHHATTISGARH,636,619,35246,16201,122,706,321,731,4,2,...,4792,551,3510,5493,37843,1468,5113,44656,62873,Peaceful Area
D & N HAVELI,17,10,171,292,1,6,0,11,0,0,...,203,12,11,70,245,40,30,388,773,Peaceful Area
DAMAN & DIU,4,2,222,52,0,0,0,1,1,0,...,89,17,19,50,456,36,27,525,613,Peaceful Area
DELHI,145,1092,16149,56767,17,371,0,1128,0,0,...,16116,144,4452,3496,147093,381,6461,23555,231546,Moderate Area
GOA,24,58,1987,1182,7,40,0,88,0,3,...,793,17,162,646,5825,55,298,3700,8045,Peaceful Area
GUJARAT,1166,2245,36635,46649,528,1039,70,1470,8,16,...,25015,1621,9578,12902,131614,3842,14383,60689,213207,Moderate Area
HARYANA,225,716,31165,32329,349,1088,282,3960,1,6,...,20822,669,3377,5557,69770,1375,5871,46504,131394,Moderate Area
HIMACHAL PRADESH,6,30,4565,1155,6,33,0,348,0,0,...,874,24,147,2843,7229,45,236,9689,9658,Peaceful Area
JAMMU & KASHMIR,88,378,9054,6024,3,23,40,291,0,0,...,2874,78,781,4178,15801,188,1312,17050,25767,Peaceful Area
JHARKHAND,2757,2124,14014,32328,1971,4105,47,3131,0,8,...,9924,740,1708,1397,22572,5906,8711,16680,71322,Peaceful Area
KARNATAKA,710,3098,47568,50098,317,734,401,1809,2,3,...,21616,1356,12346,12650,120166,2581,17287,73298,199960,Moderate Area
KERALA,282,1907,25373,17123,134,365,104,1067,4,1,...,4533,759,5467,12314,37218,1364,8329,46371,62353,Peaceful Area
LAKSHADWEEP,2,0,18,50,0,0,0,0,0,0,...,31,1,0,11,30,3,0,36,113,Peaceful Area
MADHYA PRADESH,572,2819,100474,92834,249,2909,205,6662,3,40,...,25211,683,15345,21316,119995,1655,22314,137346,263860,Moderate Area
MAHARASHTRA,1860,4221,117344,102193,933,3570,185,5043,12,14,...,42434,4530,26581,33483,368305,8175,37719,185617,556807,Sensitive Area
MANIPUR,5,10,235,1043,26,28,7,362,0,0,...,813,17,44,171,2605,48,83,755,4834,Peaceful Area
MEGHALAYA,208,189,1030,2031,265,306,11,194,0,0,...,648,264,398,630,3129,798,972,1888,6004,Peaceful Area
MIZORAM,10,24,2701,4518,13,46,126,170,7,3,...,1935,13,41,1032,3160,45,114,4748,9803,Peaceful Area
NAGALAND,31,248,530,1601,52,337,11,242,0,0,...,704,31,335,353,1209,125,1042,1146,3802,Peaceful Area
ODISHA,1067,2366,22199,22640,735,4403,179,1429,0,4,...,7925,1078,6018,7930,44309,3381,14705,36505,82837,Peaceful Area
PUDUCHERRY,10,18,655,939,0,0,0,0,0,0,...,445,22,61,129,5981,38,89,1064,7366,Peaceful Area
PUNJAB,107,314,14348,13421,34,163,22,1753,0,0,...,7446,250,1058,6508,27169,460,1828,27621,50503,Peaceful Area
RAJASTHAN,83,272,38747,32628,136,769,0,1452,0,0,...,12556,279,7723,11200,180296,563,9071,65268,232974,Moderate Area
SIKKIM,3,22,607,501,1,3,0,33,0,0,...,88,2,33,159,388,6,64,877,1019,Peaceful Area
TAMIL NADU,414,2752,35562,46398,216,920,37,4304,2,12,...,26134,505,6572,11207,105059,1237,11272,53339,185160,Moderate Area
TRIPURA,128,342,1360,2200,6,20,0,21,0,0,...,790,47,255,443,1246,197,721,2212,4353,Peaceful Area
UTTAR PRADESH,1864,2725,45917,55119,849,13737,79,109154,2,6,...,10103,1764,13198,15558,113992,4809,30767,65587,312047,Moderate Area
UTTARAKHAND,166,304,3533,6536,53,726,10,442,0,0,...,1647,107,902,1132,10947,357,1990,5578,20035,Peaceful Area
WEST BENGAL,886,1036,2998,65111,274,921,7,1032,0,10,...,19296,1034,4415,2048,95567,2642,7354,5500,190468,Moderate Area

In [372]:
filename = 'crime_by_place_of_occurance_2001_2012.csv'
crime_by_place_of_occurance.to_csv(filename , index = True)